<!-- box popup -->
<div class="pb-box-popup">
  <a href="javascript:" class="pb-btn-pop-close" (click)="onClose.emit()"></a>
  <!-- step -->
  <div class="pb-ui-step">
    <span class="pb-txt-step is-selected">1</span>
    <span class="pb-txt-step">2</span>
  </div>
  <!-- //step -->
  <!-- top -->
  <div class="pb-popup-top pb-clear">
    <div class="pb-txt-title">Create Data Connection</div>
  </div>
  <!-- //top -->
  <!-- contents -->
  <div class="pb-popup-contents ">
    <div class="pb-popup-contents-in pb-wrap-dataset">
      <!-- dataset type -->
      <div class="pb-wrap-dataset-type">
        <span class="pb-label-type">Database</span>
        <!--
            선택시 li class="is-selected" 추가
            disabled 시 li class="is-disabled" 추가
        -->
        <ul class="pb-list-dataset-type">
          <li class="is-selected">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-mysql"></em>
              MySQL
            </div>
          </li>
          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-tibero"></em>
              Tibero
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-hive"></em>
              Hive
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-oracle"></em>
              Oracle
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-phoenix"></em>
              Phoenix
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-post"></em>
              Post
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-presto"></em>
              Presto
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-oracle"></em>
              Oracle
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-druid"></em>
              Druid
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-rds"></em>
              Rds
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-mssql"></em>
              MySQL
            </div>
          </li>
          <li>
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-custom"></em>
              Custom
            </div>
          </li>
        </ul>
      </div>
      <!-- //dataset type -->
      <div class="pb-ui-create ">
        <!--        <div class="pb-ui-create-in pb-clear">-->
        <!--          <div class="pb-col-10">-->
        <!--            &lt;!&ndash; form create &ndash;&gt;-->
        <!--            <div class="pb-form-create">-->
        <!--              <div class="pb-create-label">Url</div>-->
        <!--              <div class="pb-form-edit">-->
        <!--                <input type="text" class="pb-component-input" placeholder="Placeholder">-->
        <!--                <span class="pb-form-error">error</span>-->

        <!--              </div>-->
        <!--              <label class="pb-compomnent-checkbox type-font-s">-->
        <!--                <input type="checkbox">-->
        <!--                <i></i>-->
        <!--                <span class="pb-txt-checkbox">URL only </span>-->
        <!--              </label>-->
        <!--            </div>-->
        <!--            &lt;!&ndash; //form create &ndash;&gt;-->
        <!--          </div>-->
        <!--        </div>-->
        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <div class="pb-col-4">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">Host</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder">

              </div>
              <label class="pb-compomnent-checkbox type-font-s">
                <input type="checkbox">
                <i></i>
                <span class="pb-txt-checkbox">URL only </span>
              </label>
            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-3">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label"> Port</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder">
              </div>
            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-3">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">SID</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder">
              </div>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->
        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <div class="pb-col-5">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">User ID for test</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder">
                <span class="pb-form-error">error</span>
              </div>

            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-5">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">User ID for test</div>
              <div class="pb-form-edit">
                <input type="password" class="pb-component-input" placeholder="Placeholder">
                <span class="pb-form-error">error</span>
              </div>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->
        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <!-- form create -->
          <div class="pb-form-create">
            <div class="pb-create-label">User ID for test</div>
            <ul class="pb-list-create-check">
              <li>
                <label class="pb-compomnent-radio">
                  <input type="radio">
                  <i></i>
                  <span class="pb-txt-radio">Always connect (항상연결)</span>
                </label>
              </li>
              <li>
                <label class="pb-compomnent-radio">
                  <input type="radio">
                  <i></i>
                  <span class="pb-txt-radio">Connect by user’s account (사용자 계정으로 연결)</span>
                </label>
              </li>
              <li>
                <label class="pb-compomnent-radio">
                  <input type="radio">
                  <i></i>
                  <span class="pb-txt-radio">Connect with ID and password (아이디와 비번으로 연결)<span class="pb-txt-sub">Bach 방식으로 ingestion 할 수 없습니다.</span></span>
                </label>
              </li>
            </ul>

          </div>
          <!-- //form create -->
          <!-- form create -->
          <div class="pb-form-create type-check">
            <div class="pb-form-valid">
              <a href="javascirpt:" class="pb-component-btn-valid">Validation Check</a>
              <span
                class="pb-txt-valid type-invalid">Invalid Connection. Please check server and account information</span>
            </div>

            <div class="pb-form-valid">
              <a href="javascirpt:" class="pb-component-btn-valid">Validation Check</a>
              <span class="pb-txt-valid">Valid Connection</span>
            </div>
          </div>
          <!-- //form create -->
        </div>
        <!-- //clear -->
      </div>


    </div>

  </div>
  <!-- //contents -->
  <div class="pb-popup-bottom ">
    <a href="javascript:" class="pb-component-btn-pop type-bg" (click)="onClose.emit()">CANCEL</a>
    <a href="javascript:" class="pb-component-btn-pop type-line">DONE</a>
  </div>
</div>
<!-- //box popup -->
