<!-- box popup -->
<div class="pb-box-popup">
  <a href="javascript:;" class="pb-btn-pop-close" (click)="onClose.emit()"></a>
  <!-- step -->
  <div class="pb-ui-step">
    <!--<span class="pb-txt-step is-selected">1</span>-->
  </div>
  <!-- //step -->
  <!-- top -->
  <div class="pb-popup-top pb-clear">
    <div class="pb-txt-title">Create Data Connection</div>
  </div>
  <!-- //top -->
  <!-- contents -->
  <div class="pb-popup-contents ">
    <div class="pb-popup-contents-in pb-wrap-dataset">
      <!-- dataset type -->
      <div class="pb-wrap-dataset-type">
        <span class="pb-label-type">Database</span>
        <!--
            선택시 li class="is-selected" 추가
            disabled 시 li class="is-disabled" 추가
        -->
        <ul class="pb-list-dataset-type">

          <li [ngClass]="{'is-selected': connectionInfo!=null && connectionInfo.implementor.toLocaleUpperCase()=='MYSQL'}">
            <div class="pb-box-dataset" (click)="onChangeConnectionType('MYSQL')">
              <em class="pb-img-dataset type-mysql"></em>
              MySQL
            </div>
          </li>

          <li [ngClass]="{'is-selected': connectionInfo!=null && connectionInfo.implementor=='HIVE'}">
            <div class="pb-box-dataset" (click)="onChangeConnectionType('HIVE')">
              <em class="pb-img-dataset type-hive"></em>
              Hive
            </div>
          </li>

          <li [ngClass]="{'is-selected': connectionInfo!=null && connectionInfo.implementor=='PostgreSQL'}">
            <div class="pb-box-dataset" (click)="onChangeConnectionType('POSTGRESQL')">
              <em class="pb-img-dataset type-post"></em>
              PostgreSQL
            </div>
          </li>

          <li [ngClass]="{'is-selected': connectionInfo!=null && connectionInfo.implementor=='PRESTO'}">
            <div class="pb-box-dataset" (click)="onChangeConnectionType('PRESTO')">
              <em class="pb-img-dataset type-presto"></em>
              Presto
            </div>
          </li>



          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-tibero"></em>
              Tibero
            </div>
          </li>



          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-oracle"></em>
              Oracle
            </div>
          </li>

          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-phoenix"></em>
              Phoenix
            </div>
          </li>

          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-druid"></em>
              Druid
            </div>
          </li>

          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-rds"></em>
              Rds
            </div>
          </li>


          <li class="is-disabled">
            <div class="pb-box-dataset">
              <em class="pb-img-dataset type-custom"></em>
              Custom
            </div>
          </li>
        </ul>
      </div>
      <!-- //dataset type -->



      <div class="pb-ui-create ">


        <!-- clear -->
        <div class="pb-ui-create-in pb-clear" *ngIf="isUsedUrl">
          <div class="pb-col-10">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">URL</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="" [(ngModel)]="url" (ngModelChange)="url = $event; isUrlError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isUrlError">Required</span>

              </div>
              <label class="pb-compomnent-checkbox type-font-s" (click)="onChangeUseUrl(); $event.defaultPrevented;">
                <input type="checkbox" [checked]="isUsedUrl" tabindex="-1" >
                <i></i>
                <span class="pb-txt-checkbox">URL only </span>
              </label>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->



        <div class="pb-ui-create-in pb-clear" *ngIf="!isUsedUrl">
          <div class="pb-col-4">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">Host</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="hostname"
                       (ngModelChange)="hostname = $event; isHostnameError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isHostnameError">Required</span>
              </div>
              <label class="pb-compomnent-checkbox type-font-s" (click)="onChangeUseUrl(); $event.defaultPrevented;">
                <input type="checkbox" [checked]="isUsedUrl">
                <i></i>
                <span class="pb-txt-checkbox">URL only </span>
              </label>
            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-3">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label"> Port</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="port" maxlength="5" input-mask="number"
                       (ngModelChange)="port = $event; isPortError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isPortError">Required</span>
              </div>
            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-3">



            <!-- form create -->
            <div class="pb-form-create" *ngIf="!isDisableSid()">
              <div class="pb-create-label">SID</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="sid"
                       (ngModelChange)="sid = $event; isSidError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isSidError">Required</span>
              </div>
            </div>
            <!-- //form create -->


            <!-- form create -->
            <div class="pb-form-create" *ngIf="!isDisableDatabase()">
              <div class="pb-create-label">Database</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="database"
                       (ngModelChange)="database = $event; isDatabaseError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isDatabaseError">Required</span>
              </div>
            </div>
            <!-- //form create -->


            <!-- form create -->
            <div class="pb-form-create" *ngIf="!isDisableCatalog()">
              <div class="pb-create-label">Catalog</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="catalog"
                       (ngModelChange)="catalog = $event; isCatalogError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isCatalogError">Required</span>
              </div>
            </div>
            <!-- //form create -->


          </div>
        </div>
        <!-- //clear -->



        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <div class="pb-col-5">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">User ID</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="username"
                       (ngModelChange)="username = $event; isUsernameError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isUsernameError">Required</span>
              </div>

            </div>
            <!-- //form create -->
          </div>
          <div class="pb-col-5">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">User Password</div>
              <div class="pb-form-edit">
                <input type="password" class="pb-component-input" placeholder="Placeholder" [(ngModel)]="password"
                       (ngModelChange)="password = $event; isPasswordError = undefined; connectionValidInitialize()">
                <span class="pb-form-error" *ngIf="isPasswordError">Required</span>
              </div>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->


        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <!-- form create -->
          <div class="pb-form-create type-check">
            <div class="pb-form-valid">
              <a href="javascript:;" class="pb-component-btn-valid" (click)="checkConnection()">Validation Check</a>
              <span class="pb-txt-valid type-invalid" *ngIf="isRequireCheckConnection()">Required</span>
              <span class="pb-txt-valid type-invalid" *ngIf="isDisableConnection()">Invalid Connection. Please check server and account information</span>
              <span class="pb-txt-valid" *ngIf="isEnableConnection()">Valid Connection</span>
            </div>
          </div>
          <!-- //form create -->
        </div>
        <!-- //clear -->


        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <div class="pb-col-10">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">Connection Name</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" maxlength="50" placeholder="Please enter a name" [(ngModel)]="name"
                       (ngModelChange)="name = $event; isNameError = undefined;">
                <span class="pb-form-error" *ngIf="isNameError">Required</span>

              </div>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->


        <!-- clear -->
        <div class="pb-ui-create-in pb-clear">
          <div class="pb-col-10">
            <!-- form create -->
            <div class="pb-form-create">
              <div class="pb-create-label">Connection Description</div>
              <div class="pb-form-edit">
                <input type="text" class="pb-component-input" maxlength="150" placeholder="Please enter a description" [(ngModel)]="description">
              </div>
            </div>
            <!-- //form create -->
          </div>
        </div>
        <!-- //clear -->



      </div>
    </div>

  </div>
  <!-- //contents -->
  <div class="pb-popup-bottom ">
    <a href="javascript:;" class="pb-component-btn-pop type-line" (click)="onClose.emit()">CLOSE</a>
    <a href="javascript:;" class="pb-component-btn-pop type-bg" (click)="done()">DONE</a>
  </div>
</div>
<!-- //box popup -->
