<!-- lnb -->
<div lnb (onPageRefresh)="lnbOnPageRefresh()"></div>
<!-- //lnb -->

<div class="pb-page-main">
  <!-- wrap group -->
  <div class="pb-wrap-group">
    <div class="pb-label-type">
      Recently Updated
      <a href="javascript:" class="pb-link-more"
         (click)="$event.stopPropagation(); $event.preventDefault(); goDataflowsView()">View more >
      </a>
    </div>
    <!-- Wrap Main -->
    <div class="pb-wrap-box">
      <div class="pb-box-main"
           *ngFor="let dataflow of dataflows"
           (click)="$event.stopPropagation(); $event.preventDefault(); goDataflowDetailView(dataflow.dfId)">
        <!-- main summary -->
        <div class="pb-ui-main-summary">
          <!-- tag -->
          <div class="pb-ui-tags">
            <span class="pb-component-tag type-dataflow">Dataflow</span>
            <!--            <span class="pb-component-tag type-new">NEW</span>-->
            <!--<span class="pb-component-tag type-wrangled">Wrangled</span>-->
          </div>
          <!-- // tag -->
          <div class="pb-ui-name">
            {{ dataflow.name }}
          </div>
          <!-- data num -->
          <div class="pb-data-num">
          <span class="pb-txt-num">
              <em class="pb-file-type type-db"></em>
            {{ dataflow.datasetCount | number: '1.0-0' }}
          </span>
            <span class="pb-txt-num">
              <em class="pb-file-type type-dataset"></em>
              {{ dataflow.recipeCount | number: '1.0-0' }}
          </span>
          </div>
          <!-- //data num -->
        </div>
        <!-- //main summary -->

        <!-- bottom -->
        <div class="pb-box-bottom pb-clear">
        <span class="pb-data-name">
            <em class="pb-img-photo">
              <img [src]="IMAGE_CONSTANT.DEFAULT_PROFILE_IMAGE_SRC">
            </em>Admin
        </span>
          <span class="pb-data-calen">
            {{ dataflow.createdTime | date: 'yyyy-MM-dd HH:mm' }}
        </span>
        </div>
        <!-- //bottom -->
      </div>
      <a href="javascript:" class="pb-btn-create" (click)="openCreateDataflowPopup()"></a>
    </div>
    <!-- //Wrap Main -->
  </div>
  <!-- //wrap group -->
  <!-- wrap group -->
  <div class="pb-wrap-group">
    <div class="pb-label-type">
      Recent Jobs <a href="javascript:" class="pb-link-more">View more ></a>
    </div>

  </div>
  <!-- //wrap group -->
  <div class="pb-wrap-table">
    <table class="pb-component-table">
      <colgroup>
        <col width="*">
        <col width="10%">
        <col width="15%">
        <col width="15%">
      </colgroup>
      <thead>
      <tr>
        <th>Job Name <em class="pb-icon-array"> </em></th>
        <th>Status</th>
        <th>Start time</th>
        <th>End time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-failed">Failed</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-running">Running</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-suspended">Suspended</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      <tr>
        <td>FLow name</td>
        <td>
          <span class="pb-txt-status type-succeeded">Succeeded</span>
        </td>
        <td>2020-02-02 14:11</td>
        <td>2020-02-02 14:11</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
