@charset "utf-8";
/* CSS Document */

/************************************************************************************************************

	1. class명 정의

	(Project)-(Type)-(Name)

	xx-ui-xxx       : 기본 (아래 유형에 없는 경우)

	xx-layout-xxx   : 레이아웃
	xx-fixed-xxx    : 고정
	xx-wrap-xxx     : Wrap

	xx-layer-xxx    : 레이어 팝업
	xx-table-xxx    : 테이블
	xx-box-xxx      : 박스
	xx-list-xxx     : 목록
	xx-form-xxx     : Form형태 (입력, 수정, 로그인)
	xx-btn-xxx      : 버튼
	xx-icon-xxx     : 아이콘
	xx-img-xxx      : 이미지
	xx-bg-xxx       : 배경 이미지, 배경색
	xx-color-xxx    : 텍스트 색상
	xx-type-xxx     : 구분 (클래스 명이 같은 경우 type 클래스를 사용하여 구분)
	xx-status-xxx   : 상태값
	xx-data-xxx     : Data 값

	xx-input-xxx    : Input box
	xx-select-xxx   : Select box
	xx-textarea-xxx : Textarea
	xx-checkbox     : Checkbox
	xx-radio        : Radio

	xx-nodata       : 데이터 없는 경우
	xx-loading      : 로딩바

	xx-selected     : 선택, 활성
	xx-disabled     : 비활성

	2. css 작성 순서
	.class {display position left right top bottom float width height margin padding ... border background overflow z-index}
	.class {
		-webkit-border-radius:;
		-moz-border-radius:;
		-o-border-radius:;
		-ms-border-radius:;
		border-radius:;
	}

	* '...' 부분은 자유 배치


************************************************************************************************************/

/************************************************************************************************************
   Web Font
************************************************************************************************************/

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../fonts/TitilliumWeb-Light.eot");
  src: url("../../fonts/TitilliumWeb-Light.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/TitilliumWeb-Light.woff") format("woff"),
  url("../../fonts/TitilliumWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../fonts/TitilliumWeb-Regular.eot");
  src: url("../../fonts/TitilliumWeb-Regular.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/TitilliumWeb-Regular.woff") format("woff"),
  url("../../fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../fonts/TitilliumWeb-SemiBold.eot");
  src: url("../../fonts/TitilliumWeb-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/TitilliumWeb-SemiBold.woff") format("woff"),
  url("../../fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("../../fonts/TitilliumWeb-Bold.eot");
  src: url("../../fonts/TitilliumWeb-Bold.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/TitilliumWeb-Bold.woff") format("woff"),
  url("../../fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "SpoqaHanSans";
  src: url("../../fonts/SpoqaHanSans-Bold.eot");
  src: url("../../fonts/SpoqaHanSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/SpoqaHanSans-Bold.woff") format("woff"),
  url("../../fonts/SpoqaHanSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: "SpoqaHanSans";
  src: url("../../fonts/SpoqaHanSans-Regular.eot");
  src: url("../../fonts/SpoqaHanSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/SpoqaHanSans-Regular.woff") format("woff"),
  url("../../fonts/SpoqaHanSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSans";
  src: url("../../fonts/SpoqaHanSans-Thin.eot");
  src: url("../../fonts/SpoqaHanSans-Thin.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/SpoqaHanSans-Thin.woff") format("woff"),
  url("../../fonts/SpoqaHanSans-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/***********************************************************************************************************
	기본설정
************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-family: 'TitilliumWeb', 'SpoqaHanSans', sans-serif;
  box-sizing: border-box;
  line-height: 1.2em;
  word-break: break-all;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  background-color: #fff;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #4b515b;
}
hr {border:none;}

body {
  font-size: 12px;
  background-color: #fff;
}

header, footer, nav {
  display: block;
}

ul, ol {
  list-style: none;
}

img, button {
  border: 0 none;
  font-family: 'TitilliumWeb', 'SpoqaHanSans', sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
}

em {
  font-style: normal;
}

a, u, a:hover {
  text-decoration: none;
  color: #707070;
}

a {
  outline: 0;
}

textarea {
  resize: none;
}

input, select, textarea {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: #a3a3a3;
}

/*******************************************************************************
	col
*******************************************************************************/
[class*="pb-col-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.pb-col-12 {
  width: 100%;
}

.pb-col-11 {
  width: 91.66666667% !important;
}

.pb-col-10 {
  width: 83.33333333% !important;
}

.pb-col-9 {
  width: 75% !important;
}

.pb-col-8 {
  width: 66.66666667% !important;
}

.pb-col-7 {
  width: 58.33333333% !important;
}

.pb-col-6 {
  width: 50% !important;
}

.pb-col-5 {
  width: 41.66666667% !important;
}

.pb-col-4 {
  width: 33.33333333% !important;
}

.pb-col-3 {
  width: 25% !important;
}

.pb-col-2 {
  width: 16.66666667% !important;
}

.pb-col-1 {
  width: 8.33333333% !important;
}

.pb-clear:before,
.pb-clear:after {
  display: table;
  content: '';
}

.pb-clear:after {
  clear: both;
}

/*******************************************************************************
	공통
*******************************************************************************/
.pb-fleft {
  float: left !important;
}

.pb-fright {
  float: right !important;
}

.pb-txt-center {
  text-align: center !important;
}

.pb-txt-right {
  text-align: right !important
}

.pb-color-col {
  color: olive !important;
}

.pb-color-fc {
  color: dodgerblue !important;
}
