@charset "utf-8";

/***********************************************************************
     Compontent : slider1
 *************************************************************************/
.pb-wrap-slider .irs {height:40px;}
.pb-wrap-slider .irs-line-left,
.pb-wrap-slider .irs-line-mid,
.pb-wrap-slider .irs-line-right {height:4px;background-color:#f1f0e9;}
.pb-wrap-slider .irs-from,
.pb-wrap-slider .irs-to,
.pb-wrap-slider .irs-min,
.pb-wrap-slider .irs-max{display:none !important;}
.pb-wrap-slider .irs-line {top:0;}
.pb-wrap-slider .irs-bar {top:0; left:0 !important;height:4px;background-color:#8b8a86; border-radius:2px;}
.pb-wrap-slider .irs-slider {display:inline-block; top:-9px;width:9px; height:19px; background:url(../../images/icon_rangeslider.png) no-repeat; }
.pb-wrap-slider .irs-single {display:inline-block; position:relative; padding:5px 9px; margin-top:2px; border-radius:4px; background-color:#f5f2ed; color:rgba(0,0,0,0.7); font-size:13px;}
.pb-wrap-slider .irs-single:before {display:inline-block; position:absolute; bottom:100%; left:50%; margin-left:-3px; width:7px; height:5px; background:url(../../images/icon_rangeslider.png) no-repeat; background-position:left -20px; content:''; }
.pb-wrap-slider .irs-single:after { color:rgba(0,0,0,0.7); font-size:13px;content:'%'}
.pb-wrap-slider .irs-slider.state_hover, .irs-slider:hover {background-position:0 0 ;}


/***********************************************************************
     Compontent : slider2
 *************************************************************************/
.pb-wrap-slider2 {position:relative; padding:0 21px; margin-right:105px;}
.pb-wrap-slider2 .pb-btn-minus {display:inline-block; position:absolute; left:0; top:0;width:12px; height:3px; background-color:#fff;}
.pb-wrap-slider2 .pb-btn-plus {display:inline-block;  position:absolute; right:0; top:-5px;width:12px; height:12px; background:url(../../images/icon_rangeslider.png) no-repeat; background-position:left -26px;}
.pb-wrap-slider2 .irs {height:40px;}
.pb-wrap-slider2 .irs-line-left,
.pb-wrap-slider2 .irs-line-mid,
.pb-wrap-slider2 .irs-line-right {height:4px;background-color:#55708b;}
.pb-wrap-slider2 .irs-from,
.pb-wrap-slider2 .irs-to,
.pb-wrap-slider2 .irs-min,
.pb-wrap-slider2 .irs-max{display:none !important;}
.pb-wrap-slider2 .irs-line {top:0;}
.pb-wrap-slider2 .irs-bar {top:0; left:0 !important;height:4px;background-color:#55708b; border-radius:2px;}
.pb-wrap-slider2 .irs-slider {display:inline-block; top:-9px;width:9px; height:19px; background:url(../../images/icon_rangeslider.png) no-repeat; }
.pb-wrap-slider2 .irs-single {display:inline-block; position:absolute; top:0; left:100% !important; width:65px;margin:-12px 0 0 30px !important;padding:5px 9px; margin-top:2px; border-radius:4px; background-color:rgba(99,130,160,0.5); color:#fff; font-size:16px; text-align:center;}
.pb-wrap-slider2 .irs-single:before {display:inline-block; position:absolute; top:50%; right:100%; width:7px; height:5px; margin:-3px -1px 0 0; background:url(../../images/icon_rangeslider.png) no-repeat; background-position:-8px -20px; content:''; transform:rotate(-90deg) }
.pb-wrap-slider2 .irs-single:after { color:#fff; font-size:16px;content:'%'}
.pb-wrap-slider2 .irs-slider.state_hover, .irs-slider:hover {background-position:0 0 ;}



/***********************************************************************
     Compontent : slider3
 *************************************************************************/
.pb-wrap-slider3 {position:relative; padding:0 21px; margin-right:85px;}
.pb-wrap-slider3 .pb-btn-minus {display:inline-block; position:absolute; left:0; top:0;width:12px; height:3px; background-color:#bfbfc3;}
.pb-wrap-slider3 .pb-btn-plus {display:inline-block;  position:absolute; right:0; top:-5px;width:12px; height:12px; background:url(../../images/icon_rangeslider.png) no-repeat; background-position:-13px -26px;}
.pb-wrap-slider3 .irs {height:40px;}
.pb-wrap-slider3 .irs-line-left,
.pb-wrap-slider3 .irs-line-mid,
.pb-wrap-slider3 .irs-line-right {height:4px;background-color:#cfcfd2;}
.pb-wrap-slider3 .irs-from,
.pb-wrap-slider3 .irs-to,
.pb-wrap-slider3 .irs-min,
.pb-wrap-slider3 .irs-max{display:none !important;}
.pb-wrap-slider3 .irs-line {top:0;}
.pb-wrap-slider3 .irs-bar {top:0; left:0 !important;height:4px;background-color:#cfcfd2; border-radius:2px;}
.pb-wrap-slider3 .irs-slider {display:inline-block; top:-9px;width:9px; height:19px; border-radius:4px; background:#575961}
.pb-wrap-slider3 .irs-single {display:inline-block; position:absolute; top:0; left:100% !important; width:65px;margin:-12px 0 0 30px !important;padding:5px 9px; margin-top:2px; border-radius:4px; border:1px solid #929292; color:#000; font-size:16px; text-align:center;}
.pb-wrap-slider3 .irs-single:before {display:inline-block; position:absolute; top:50%; right:100%; width:7px; height:9px; margin:-5px 0 0 0; background:url(../../images/icon_rangeslider.png) no-repeat; background-position:0 -39px; content:''; background-color:#fff;}
.pb-wrap-slider3 .irs-single:after { color:#000; font-size:16px;content:'%'}
.pb-wrap-slider3 .irs-slider.state_hover, .irs-slider:hover {background-position:0 0 ;}










