<div class="pb-edit-scroll">
  <!-- top -->
  <div class="pb-ruleedit-top">
    <div class="pb-label-title">Edit Rule</div>
    <div class="pb-ui-buttons">
      <a href="javascript:" class="pb-component-btn type-basic"><em class="pb-icon-switch"></em>switch to editer</a>
      <a href="javascript:" class="pb-btn-icons-type type-close" (click)="onClose.emit()"></a>
    </div>
  </div>
  <!-- //top -->
  <!-- part -->
  <div class="pb-ui-part">
    <div class="pb-label-part">Command</div>
    <textarea class="pb-component-textarea-resize" placeholder="Please insert command"></textarea>
  </div>
  <!-- //part -->
  <!-- part -->
  <div class="pb-ui-part">
    <div class="pb-label-part">Command</div>

    <!-- select box -->
    <!--
      클릭시 is-selected 추가 (popup show, input show)
      값 선택시 type-value 추가
    -->
    <div class="pb-form-selectbox type-value is-selected">
      <input type="text" class="pb-input-selectbox" placeholder="Select data">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup">
        <ul class="pb-list-selectbox pb-list-command">
          <li>
            <a href="javascript:">
                    <span class="pb-ui-type">
                        REPLACE
                    </span>
              <span class="pb-ui-code">
                      Command Description can be longer 설명
                      은 길어질 수 있습니다
                    </span>
            </a>
          </li>
          <li>
            <a href="javascript:">
                    <span class="pb-ui-type">
                        Keep
                    </span>
              <span class="pb-ui-code">
                      Command Description can be longer 설명
                      은 길어질 수 있습니다
                    </span>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //box select -->
  </div>
  <!-- //part -->
  <div class="pb-ui-part-sub">
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Column</div>
      <!--
         클릭시 ddp-selected 추가 (popup show, input show)
         값 선택시 type-value 추가
       -->
      <div class="pb-form-selectbox ">
        <span class="pb-txt-selectbox">Select data</span>
        <!-- popup -->
        <div class="pb-select-popup" style="display:;">
                      <span class="pb-txt-label2">
                          Filter
                      </span>
          <ul class="pb-list-popup">

            <li class="">
              <a href="javascript:">
                <label class="pb-label-checkbox">
                  <input type="checkbox">
                  <i class="pb-icon-checkbox"></i>
                  <span class="pb-txt-checkbox">unchecked</span>
                </label>
              </a>
            </li>
            <li class="">
              <a href="javascript:">
                <label class="pb-label-checkbox">
                  <input type="checkbox">
                  <i class="pb-icon-checkbox"></i>
                  <span class="pb-txt-checkbox">unchecked</span>
                </label>
              </a>
            </li>
            <li class="">
              <a href="javascript:">
                <label class="pb-label-checkbox">
                  <input type="checkbox">
                  <i class="pb-icon-checkbox"></i>
                  <span class="pb-txt-checkbox">unchecked</span>
                </label>
              </a>
            </li>
          </ul>

        </div>
        <!-- //popup -->
      </div>
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Pattern</div>
      <input class="pb-component-input" placeholder="placeholder">
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">New value</div>
      <input class="pb-component-input" placeholder="placeholder">
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Quote character</div>
      <input class="pb-component-input" placeholder="placeholder">
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Match all occurrences</div>
      <div class="pb-form-part">
        <!-- component radio toggle -->
        <div class="pb-component-radio-toggle">
          <label class="pb-type-radio">
            <input type="radio" checked>
            <span class="pb-txt-radio">Yes</span>
          </label>
          <label class="pb-type-radio">
            <input type="radio">
            <span class="pb-txt-radio">No</span>
          </label>
        </div>
        <!-- //component radio toggle -->

      </div>
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Ignore case</div>
      <div class="pb-form-part">
        <!-- component radio toggle -->
        <div class="pb-component-radio-toggle">
          <label class="pb-type-radio">
            <input type="radio">
            <span class="pb-txt-radio">Yes</span>
          </label>
          <label class="pb-type-radio">
            <input type="radio" checked>
            <span class="pb-txt-radio">No</span>
          </label>
        </div>
        <!-- //component radio toggle -->

      </div>
    </div>
    <!-- //block part -->
    <!-- block part -->
    <div class="pb-block-part">
      <div class="pb-label-part">Use only under the following conditions</div>
      <input class="pb-component-input" placeholder="placeholder">
    </div>
    <!-- //block part -->
  </div>
</div>
<div class="pb-ruleedit-bottom">
  <a href="javascript:" class="pb-component-btn type-dark">SAVE</a>
</div>
