<div class="pb-layout-popup" *ngIf="isShow">
    <!-- box popup -->
    <div class="pb-box-popup">
        <a href="javascript:" class="pb-btn-pop-close" (click)="isShow = false"></a>
        <!-- top -->
        <div class="pb-popup-top">
            <div class="pb-txt-title">DATA CONNECT</div>

        </div>
        <!-- //top -->
        <!-- contents -->
        <div class="pb-popup-contents">
            <div class="pb-wrap-fileupload pb-drop-file"  #drop_container [ngStyle]="{'visibility': supportedFileCount===0?'visible':'hidden'}">
                <div class="pb-txt-title">Drop your File</div>
                <div class="pb-txt-det">You can create data.</div>
            </div>
        </div>
        <!-- //contents -->
        <!-- bottom -->
        <div class="pb-popup-bottom">
            <a (click)="next();" href="javascript:" class="pb-component-btn type-line">PRE</a>
            <a (click)="next();" href="javascript:" class="pb-component-btn type-bg">SKIP</a>
            <a (click)="next();" href="javascript:" class="pb-component-btn type-line">NEXT</a>
        </div>
        <!-- //bottom -->
    </div>
    <!-- //box popup -->
</div>
