@charset "utf-8";


/***********************************************************************
 Compontent : selectbox
*************************************************************************/
.pb-component-selectbox {position:relative; cursor:pointer;}
.pb-component-selectbox:after {display:inline-block; position:absolute; top:50%; right:13px; margin-top:-4px;  width:9px; height:7px; background:url(../../images/icon_selectbox.png) no-repeat; content:''; z-index:10;}
.pb-component-selectbox.is-value .pb-txt-selectbox {color:rgba(1,1,1,1);}
.pb-component-selectbox .pb-txt-selectbox {display:block; position:relative; padding:9px 25px 9px 15px; font-size:15px; color:rgba(1,1,1,0.4);  border:1px solid #d0d3d3; border-radius:5px; z-index:5; background-color:#fff;}
.pb-component-selectbox.is-selected .pb-select-popup {display:block; z-index:1;}
.pb-component-selectbox .pb-select-popup {display:none; position:absolute; top:100%; left:0; right:0; margin-top:-3px;border:1px solid #d0d3d3; border-radius:0 0 5px 5px;  overflow:hidden; background-color:#fff;z-index:15;}
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox {padding-top:2px; }
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox li:first-of-type {border-top:none;}
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox li {border-top:1px solid #d0d3d3;}
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox li a {display:block; position:relative; padding:9px 0 9px 16px; color:#010101; font-size:15px; background-color:#fff;}
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox li a:hover {color:#ff5b01; font-weight:600; background-color:#fff7cd;}
.pb-component-selectbox .pb-select-popup ul.pb-list-selectbox li a:hover:before {display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid #ff5b01; content:'';}

.pb-component-select-button {display:flex;}
.pb-component-select-button .pb-component-selectbox {flex:auto;}
.pb-component-select-button .pb-txt-selectbox { border-radius:5px 0 0 5px;}
.pb-component-select-button .pb-btn-select {display:inline-block; position:relative; width:110px; padding:9px 0 9px 0;border-radius:0 5px 5px 0; background-color:#787983; color:rgba(255,255,255,0.5); font-size:15px; text-align:center; z-index:10;}
.pb-component-select-button .pb-component-selectbox.is-selected + .pb-btn-select {background-color:#575961; color:rgba(255,255,255,1)}

.pb-component-selectbox.type-white .pb-txt-selectbox {border:1px solid rgba(255,255,255,0.7); color:#fff;}
.pb-component-selectbox.type-white:after {background-position-y:-8px;}

.pb-component-selectbox.type-icons.is-value .pb-txt-selectbox {padding-left:38px;}
.pb-component-selectbox.type-icons.is-value .pb-txt-selectbox .pb-icon-datasource,
.pb-component-selectbox.type-icons ul.pb-list-selectbox li a .pb-icon-datasource {display:inline-block; position:absolute; top:50%; left:17px; margin-top:-8px; width:11px; height:16px; background:url(../../images/icon_selectbox2.png) no-repeat; background-position:left -13px;}
.pb-component-selectbox.type-icons ul.pb-list-selectbox li a:hover .pb-icon-datasource {background-position-x:-12px;}
.pb-component-selectbox.type-icons ul.pb-list-selectbox li a {padding-left:38px;}
.pb-component-selectbox.type-gray.is-selected .pb-txt-selectbox {border-radius:5px 5px 0 0;}
.pb-component-selectbox.type-gray .pb-txt-selectbox { background-color:#f1f1ee; border-color:#f1f1ee;}
.pb-component-selectbox.type-gray .pb-select-popup {margin:0;border-radius:0;}
.pb-component-selectbox.type-gray .pb-select-popup ul.pb-list-selectbox {padding-top:0;}


/***********************************************************************
 Compontent : multi selectbox
*************************************************************************/
.pb-txt-label2 {display: block;padding: 10px 13px 4px 13px;color: #b7b9c2;font-size: 12px;font-weight: bold;}

ul.pb-list-popup {padding: 3px 0;}
ul.pb-list-popup li {position: relative;}
ul.pb-list-popup li a {display: block;position: relative;padding: 6px 14px 6px 14px;font-size: 13px;color: #4b515b;white-space: nowrap;overflow: hidden;}
.pb-label-checkbox input[type="checkbox"] {position: absolute;top: 50%;left: 0;opacity: 0;margin-top: -7px;}
.pb-label-checkbox input[type="checkbox"]:checked + i.pb-icon-checkbox + .pb-txt-checkbox{font-weight: bold;}
ul.pb-list-popup .pb-icon-checkbox{display: inline-block;position: absolute;top: 50%;left: 0;margin-top: -6px;width: 12px;height: 12px;background: url(../../images/icon_checkbox.png) no-repeat;}
.pb-label-checkbox input[type="checkbox"]:checked + i.pb-icon-checkbox, .pb-label-checkbox.pb-checkboxtype input[type="checkbox"]:checked + i.ddp-icon-checkbox {background-position: -12px top;}
.pb-txt-checkbox{margin-left:10px;font-size: 16px;color: #36393e;vertical-align: bottom;word-break: break-all;text-overflow: ellipsis;}

