@charset "utf-8";

/***********************************************************************
     Compontent : icons
 *************************************************************************/
.pb-img-file {
  display: inline-block;
  background: url(../../images/img_file.png) no-repeat;
}

.pb-img-file.type-xls {
  width: 22px;
  height: 20px;
}

.pb-img-file.type-xlsx {
  width: 22px;
  height: 20px;
  background-position: 0 -21px;
}

.pb-img-file.type-txt {
  width: 22px;
  height: 20px;
  background-position: 0 -42px;
}

.pb-img-file.type-csv {
  width: 22px;
  height: 20px;
  background-position: 0 -63px;
}

.pb-img-file.type-json {
  width: 22px;
  height: 20px;
  background-position: 0 -84px;
}

.pb-img-file.type-xml {
  width: 22px;
  height: 20px;
  background-position: 0 -105px;
}

.pb-img-file.type-file {
  width: 16px;
  height: 20px;
  background-position: 0 -126px;
}

.pb-img-dataset {
  display: inline-block;
  background: url(../../images/img_dataset_type.png) no-repeat;
}

.pb-img-dataset.type-mysql {
  width: 23px;
  height: 24px;
}

.pb-img-dataset.type-tibero {
  width: 18px;
  height: 22px;
  background-position: left -24px;
}

.pb-img-dataset.type-hive {
  width: 23px;
  height: 22px;
  background-position: left -47px;
}

.pb-img-dataset.type-oracle {
  width: 20px;
  height: 20px;
  background-position: left -70px;
}

.pb-img-dataset.type-phoenix {
  width: 16px;
  height: 22px;
  background-position: left -91px;
}

.pb-img-dataset.type-post {
  width: 20px;
  height: 22px;
  background-position: left -114px;
}

.pb-img-dataset.type-presto {
  width: 20px;
  height: 18px;
  background-position: left -137px;
}

.pb-img-dataset.type-druid {
  width: 20px;
  height: 16px;
  background-position: left -156px;
}

.pb-img-dataset.type-rds {
  width: 20px;
  height: 22px;
  background-position: left -173px;
}

.pb-img-dataset.type-mssql {
  width: 21px;
  height: 24px;
  background-position: left -196px;
}

.pb-img-dataset.type-custom {
  width: 20px;
  height: 22px;
  background-position: left -221px;
}


.pb-img-dataset2 {
  display: inline-block;
  background: url(../../images/img_dataset_type2.png) no-repeat;
}

.pb-img-dataset2.type-db {
  width: 28px;
  height: 33px;
}

.pb-img-dataset2.type-tibero {
  width: 31px;
  height: 38px;
  background-position: left -34px;
}

.pb-img-dataset2.type-mysql {
  width: 40px;
  height: 38px;
  background-position: left -75px;
}

.pb-img-dataset2.type-hive {
  width: 40px;
  height: 40px;
  background-position: left -114px;
}

.pb-img-dataset2.type-oracle {
  width: 36px;
  height: 36px;
  background-position: left -155px;
}

.pb-img-dataset2.type-phoenix {
  width: 26px;
  height: 39px;
  background-position: left -192px;
}

.pb-img-dataset2.type-post {
  width: 40px;
  height: 39px;
  background-position: left -231px;
}

.pb-img-dataset2.type-presto {
  width: 35px;
  height: 30px;
  background-position: left -271px;
}

.pb-img-dataset2.type-druid {
  width: 35px;
  height: 27px;
  background-position: left -302px;
}

.pb-img-dataset2.type-rds {
  width: 34px;
  height: 38px;
  background-position: left -330px;
}

.pb-img-dataset2.type-custom {
  width: 34px;
  height: 36px;
  background-position: left -369px;
}

.pb-img-dataset2.type-mssql {
  width: 34px;
  height: 38px;
  background-position: left -406px;
}


.pb-img-dataset3 {
  display: inline-block;
  background: url(../../images/img_dataset_type3.png) no-repeat;
}

.pb-img-dataset3.type-db {
  width: 16px;
  height: 19px;
}

.pb-img-dataset3.type-tibero {
  width: 18px;
  height: 22px;
  background-position: left -20px;
}

.pb-img-dataset3.type-mysql {
  width: 23px;
  height: 23px;
  background-position: left -43px;
}

.pb-img-dataset3.type-hive {
  width: 22px;
  height: 22px;
  background-position: left -67px;
}

.pb-img-dataset3.type-oracle {
  width: 20px;
  height: 20px;
  background-position: left -90px;
}

.pb-img-dataset3.type-phoenix {
  width: 16px;
  height: 24px;
  background-position: left -111px;
}

.pb-img-dataset3.type-post {
  width: 20px;
  height: 22px;
  background-position: left -135px;
}

.pb-img-dataset3.type-presto {
  width: 20px;
  height: 18px;
  background-position: left -158px;
}

.pb-img-dataset3.type-druid {
  width: 20px;
  height: 16px;
  background-position: left -177px;
}

.pb-img-dataset3.type-rds {
  width: 20px;
  height: 22px;
  background-position: left -194px;
}

.pb-img-dataset3.type-custom {
  width: 20px;
  height: 22px;
  background-position: left -217px;
}

.pb-img-dataset3.type-mssql {
  width: 21px;
  height: 24px;
  background-position: left -240px;
}

.pb-img-state {
  display: inline-block;
  background: url(../../images/img_state.png) no-repeat;
}

.pb-img-state.type-inprogress {
  width: 40px;
  height: 39px;
}

.pb-img-state.type-error {
  width: 37px;
  height: 35px;
  background-position: left -40px;
}

.pb-img-state.type-success {
  width: 40px;
  height: 39px;
  background-position: left -76px;
}

.pb-img-state.type-inprogress2 {
  width: 40px;
  height: 39px;
  background-position: left -116px;
}

.pb-file-type {
  display: inline-block;
  background: url(../../images/img_file.png) no-repeat;
}

.pb-file-type.type-db {
  width: 12px;
  height: 13px;
  background-position: left -147px;
}

.pb-file-type.type-dataset {
  width: 13px;
  height: 12px;
  background-position: left -161px;
}
.pb-file-type.type-recipe {
  width: 13px;
  height: 12px;
  background-position: left -161px;
}
.pb-file-type.type-dataset2 {
  width: 12px;
  height: 14px;
  background-position: left -174px;
}


/**************************************************************
	svg 아이콘
**************************************************************/

.icon-db-hive-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-hive-w .st0 {
  fill: #EAEAEA;
}

.icon-db-hive-w .st1 {
  fill: #B5B5B5;
}

.icon-db-hive-w .st2 {
  fill: #F7F7F7;
}

.icon-db-hive-w .st3 {
  fill: #FFFFFF;
}

.icon-db-hive-w .st4 {
  stroke: #000000;
  stroke-width: 0.114;
}

.icon-db-mysql-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-mysql-w .st0 {
  fill: #ECECEC;
}

.icon-db-mysql-w .st0 {
  fill: #ECECEC;
}

.icon-db-oracle-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-oracle-w .st0 {
  fill: #ECECEC;
}

.icon-db-phoenix-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-phoenix-w .st0 {
  fill: url(#SVGID_1_);
}

.icon-db-phoenix-w .st1 {
  fill: url(#SVGID_2_);
}

.icon-db-phoenix-w .st2 {
  fill: url(#SVGID_3_);
}

.icon-db-phoenix-w .st3 {
  fill: url(#SVGID_4_);
}

.icon-db-post-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-post-w .st0 {
  fill: #5A5A5A;
}

.icon-db-post-w .st1 {
  fill: #EBEBEB;
}

.icon-db-presto-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-presto-w .st0 {
  fill: #EBEBEB;
}

.icon-db-presto-w .st1 {
  fill: #B5B5B5;
}

.icon-db-presto-w .st2 {
  fill: #000E0F;
}

.icon-db-tibero-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-tibero-w .st0 {
  fill: #B8B8B8;
}

.icon-db-tibero-w .st1 {
  fill: #EBEBEB;
}

.icon-db-mssql-w,
.icon-db-mssql,
.icon-db-mssql-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-druid-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-druid-w .st0 {
  fill: none;
  stroke: #ECECEC;
  stroke-miterlimit: 10;
}

.icon-db-custom-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-custom-w .st0 {
  fill: #ECECEC;
}

.icon-db-custom-w .st1 {
  display: none;
}

.icon-db-custom-w .st2 {
  display: inline;
  fill: none;
  stroke: #ECECEC;
  stroke-miterlimit: 10;
}

.icon-db {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db .st0 {
  fill: #6E727B;
}

.icon-db-hive {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-hive .st0 {
  fill: #FDEE21;
}

.icon-db-hive .st1 {
  fill: #C8C037;
}

.icon-db-hive .st2 {
  fill: #FCF6A0;
}

.icon-db-hive .st3 {
  fill: #FFFFFF;
}

.icon-db-hive .st4 {
  stroke: #000000;
  stroke-width: 0.114;
}

.icon-db-mysql {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-mysql .st0 {
  fill: #2D7397;
}

.icon-db-oracle {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-oracle .st0 {
  fill: #EA1B22;
}

.icon-db-druid {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-druid .st0 {
  fill: none;
  stroke: #00B3C1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.icon-db-custom {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-custom .st0 {
  fill: #A9B0C0;
}

.icon-db-phoenix {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-phoenix .st0 {
  fill: url(#SVGID_1_);
}

.icon-db-phoenix .st1 {
  fill: url(#SVGID_2_);
}

.icon-db-phoenix .st2 {
  fill: url(#SVGID_3_);
}

.icon-db-phoenix .st3 {
  fill: url(#SVGID_4_);
}

.icon-db-post,
.icon-db-post-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-post .st0 {
  fill: #336791;
}

.icon-db-post .st1 {
  fill: #FFFFFF;
}

.icon-db-post .st2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-db-presto {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-presto .st0 {
  fill: #669CFE;
}

.icon-db-presto .st1 {
  fill: #3FE7FE;
}

.icon-db-presto .st2 {
  fill: #000E0F;
}

.icon-db-presto .st3 {
  fill: #6A9EFE;
}

.icon-db-tibero {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-tibero .st0 {
  fill: #01448D;
}

.icon-db-tibero .st1 {
  fill: #EA1B22;
}

.icon-db-rds {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-rds .st0 {
  fill: #205B98;
}

.icon-db-rds .st1 {
  fill: #5294CF;
}

.icon-db-rds .st2 {
  fill: #2D72B8;
}

.icon-db-rds-w {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-rds-w .st0 {
  fill: #A5A5A5;
}

.icon-db-rds-w .st1 {
  fill: #EBEBEB;
}

.icon-db-rds-w .st2 {
  fill: #BFBFBF;
}


.icon-db-hdfs-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-hdfs-b .st0 {
  fill: #D8D8D8;
}

.icon-db-hdfs-b .st1 {
  fill: #B5B5B5;
}

.icon-db-hdfs-b .st2 {
  fill: #FFFFFF;
}

.icon-db-hdfs-b .st3 {
  fill: #333333;
}

.icon-db-hive-b {
  display: inline-block;
  width: 24px;
  height: 22px;
}

.icon-db-hive-b .st0 {
  fill: #EAEAEA;
}

.icon-db-hive-b .st1 {
  fill: #B5B5B5;
}

.icon-db-hive-b .st2 {
  fill: #F7F7F7;
}

.icon-db-hive-b .st3 {
  fill: #FFFFFF;
}

.icon-db-hive-b .st4 {
  stroke: #000000;
  stroke-width: 0.114;
}

.icon-db-local-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-local-b .st0 {
  fill: #E7EAEB;
}

.icon-db-local-b .st1 {
  fill: none;
  stroke: #6E727B;
}

.icon-db-local-b .st2 {
  fill: #6E727B;
}

.icon-db-mysql-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-mysql-b .st0 {
  fill: #6E727B;
}

.icon-db-oracle-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-oracle-b .st0 {
  fill: #6E727B;
}

.icon-db-presto-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-presto-b .st0 {
  fill: #90969F;
}

.icon-db-presto-b .st1 {
  fill: #4B515B;
}

.icon-db-staging-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-db-staging-b .st0 {
  fill: none;
}

.icon-db-staging-b .st1 {
  fill: #6E727B;
}


.icon-file-json-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-json-b .st0 {
  fill: none;
}

.icon-file-json-b .st1 {
  fill: #6E727B;
}

.icon-file-txt-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-txt-b .st0 {
  fill: none;
}

.icon-file-txt-b .st1 {
  fill: #6E727B;
}

.icon-file-xml-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-xml-b .st0 {
  fill: none;
}

.icon-file-xml-b .st1 {
  fill: #6E727B;
}

.icon-file-xls {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-xls .st0 {
  fill: #3F7651;
}

.icon-file-xlsx {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-xlsx .st0 {
  fill: #3F7651;
}

.icon-file-xlsx .st1 {
  fill: #3F7651;
  fill-opacity: 0;
}

.icon-file-dataset,
.icon-file-dataset-another {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-b {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-file-b .st0 {
  fill: #6E727B;
}

.icon-file-csv-b {
  display: inline-block;
  width: 24px;
  height: 24px;
  enable-background: new 0 0 24 24;
}

.icon-file-csv-b .st0 {
  fill: none;
}

.icon-file-csv-b .st1 {
  fill: #6E727B;
}


.icon-file-csv-big {
  display: inline-block;
  width: 24px;
  height: 24px;
  enable-background: new 0 0 24 24;
}

.icon-file-csv-big .st0 {
  fill: none;
}

.icon-file-csv-big .st1 {
  fill: #4a515b;
}

.icon-dataset-another-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-dataset-another-focus .st0 {
  display: none;
}

.icon-dataset-another-focus .st1 {
  display: inline;
  fill: #FFFFFF;
}

.icon-dataset-another-focus .st2 {
  display: inline;
  fill: #B6B9C1;
}

.icon-dataset-another-focus .st3 {
  fill: #FFFFFF;
}

.icon-dataset-another-focus .st4 {
  fill: #666EB2;
}

.icon-dataset-another-focus .st5 {
  fill: #4A515C;
}

.icon-dataset-another {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-dataset-another .st0 {
  fill: #FFFFFF;
}

.icon-dataset-another .st1 {
  fill: none;
}

.icon-dataset-another .st2 {
  fill: #4A515C;
}

.icon-dataset-wrangled-delete {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-dataset-wrangled-delete .st0 {
  fill: #FFFFFF;
}

.icon-dataset-wrangled-delete .st1 {
  fill: none;
}

.icon-dataset-wrangled-delete .st2 {
  fill: #E7E7EA;
}

.icon-dataset-wrangled-fous {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-dataset-wrangled-fous .st0 {
  fill: #FFFFFF;
}

.icon-dataset-wrangled-fous .st1 {
  fill: #666EB2;
}

.icon-dataset-wrangled-fous .st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4A515C;
}

.icon-dataset-wangled {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-dataset-wangled .st0 {
  fill: #FFFFFF;
}

.icon-dataset-wangled .st1 {
  fill: none;
}

.icon-dataset-wangled .st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4A515C;
}

.icon-chart-custom-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-custom-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-custom-focus .st1 {
  fill: #666EB2;
}

.icon-chart-custom-focus .st2 {
  fill: #A9B0C0;
}

.icon-chart-custom {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-custom .st0 {
  fill: #FFFFFF;
}

.icon-chart-custom .st1 {
  fill: #B6B9C1;
}

.icon-chart-custom .st2 {
  fill: #A9B0C0;
}

.icon-chart-druid-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-druid-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-druid-focus .st1 {
  fill: #666EB2;
}

.icon-chart-druid-focus .st2 {
  fill: #00B3C1;
}

.icon-chart-druid {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-druid .st0 {
  fill: #FFFFFF;
}

.icon-chart-druid .st1 {
  fill: #B6B9C1;
}

.icon-chart-druid .st2 {
  fill: #00B3C1;
}

.icon-chart-db-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-db-focus .st0 {
  display: none;
}

.icon-chart-db-focus .st1 {
  display: inline;
  fill: #FFFFFF;
}

.icon-chart-db-focus .st2 {
  display: inline;
  fill: #B6B9C1;
}

.icon-chart-db-focus .st3 {
  fill: #FFFFFF;
}

.icon-chart-db-focus .st4 {
  fill: #666EB2;
}

.icon-chart-db-focus .st5 {
  fill: #4B515A;
}

.icon-chart-db {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-db .st0 {
  fill: #FFFFFF;
}

.icon-chart-db .st1 {
  fill: #B6B9C1;
}

.icon-chart-db .st2 {
  fill: #4B515A;
}

.icon-chart-hive-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-hive-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-hive-focus .st1 {
  fill: #666EB2;
}

.icon-chart-hive-focus .st2 {
  fill: #FDEE21;
}

.icon-chart-hive-focus .st3 {
  fill: #C8C037;
}

.icon-chart-hive-focus .st4 {
  fill: #FCF6A0;
}

.icon-chart-hive-focus .st5 {
  stroke: #000000;
  stroke-width: 0.114;
}

.icon-chart-hive {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-hive .st0 {
  fill: #FFFFFF;
}

.icon-chart-hive .st1 {
  fill: #B6B9C1;
}

.icon-chart-hive .st2 {
  fill: #FDEE21;
}

.icon-chart-hive .st3 {
  fill: #C8C037;
}

.icon-chart-hive .st4 {
  fill: #FCF6A0;
}

.icon-chart-hive .st5 {
  stroke: #000000;
  stroke-width: 0.114;
}

.icon-chart-mysql-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-mysql-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-mysql-focus .st1 {
  fill: #666EB2;
}

.icon-chart-mysql-focus .st2 {
  fill: #2D7397;
}

.icon-chart-mysql {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-mysql .st0 {
  fill: #FFFFFF;
}

.icon-chart-mysql .st1 {
  fill: #B6B9C1;
}

.icon-chart-mysql .st2 {
  fill: #2D7397;
}

.icon-chart-oracle-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-oracle-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-oracle-focus .st1 {
  fill: #666EB2;
}

.icon-chart-oracle-focus .st2 {
  fill: #EA1B22;
}

.icon-chart-oracle {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-oracle .st0 {
  fill: #FFFFFF;
}

.icon-chart-oracle .st1 {
  fill: #B6B9C1;
}

.icon-chart-oracle .st2 {
  fill: #EA1B22;
}

.icon-chart-phoenix-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-phoenix-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-phoenix-focus .st1 {
  fill: #666EB2;
}

.icon-chart-phoenix-focus .st2 {
  fill: url(#SVGID_1_);
}

.icon-chart-phoenix-focus .st3 {
  fill: url(#SVGID_2_);
}

.icon-chart-phoenix-focus .st4 {
  fill: url(#SVGID_3_);
}

.icon-chart-phoenix-focus .st5 {
  fill: url(#SVGID_4_);
}

.icon-chart-phoenix {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-phoenix .st0 {
  fill: #FFFFFF;
}

.icon-chart-phoenix .st1 {
  fill: #B6B9C1;
}

.icon-chart-phoenix .st2 {
  fill: url(#SVGID_1_);
}

.icon-chart-phoenix .st3 {
  fill: url(#SVGID_2_);
}

.icon-chart-phoenix .st4 {
  fill: url(#SVGID_3_);
}

.icon-chart-phoenix .st5 {
  fill: url(#SVGID_4_);
}

.icon-chart-post-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-post-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-post-focus .st1 {
  fill: #666EB2;
}

.icon-chart-post-focus .st2 {
  fill: #336791;
}

.icon-chart-post-focus .st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-chart-post {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-post .st0 {
  fill: #FFFFFF;
}

.icon-chart-post .st1 {
  fill: #B6B9C1;
}

.icon-chart-post .st2 {
  fill: #336791;
}

.icon-chart-post .st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-chart-presto-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-presto-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-presto-focus .st1 {
  fill: #666EB2;
}

.icon-chart-presto-focus .st2 {
  fill: #669CFE;
}

.icon-chart-presto-focus .st3 {
  fill: #3FE7FE;
}

.icon-chart-presto-focus .st4 {
  fill: #000E0F;
}

.icon-chart-presto-focus .st5 {
  fill: #6A9EFE;
}

.icon-chart-presto {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-presto .st0 {
  fill: #FFFFFF;
}

.icon-chart-presto .st1 {
  fill: #B6B9C1;
}

.icon-chart-presto .st2 {
  fill: #669CFE;
}

.icon-chart-presto .st3 {
  fill: #3FE7FE;
}

.icon-chart-presto .st4 {
  fill: #000E0F;
}

.icon-chart-presto .st5 {
  fill: #6A9EFE;
}

.icon-chart-rds-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-rds-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-rds-focus .st1 {
  fill: #666EB2;
}

.icon-chart-rds-focus .st2 {
  fill: #205B98;
}

.icon-chart-rds-focus .st3 {
  fill: #5294CF;
}

.icon-chart-rds-focus .st4 {
  fill: #2D72B8;
}

.icon-chart-rds {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-rds .st0 {
  fill: #FFFFFF;
}

.icon-chart-rds .st1 {
  fill: #B6B9C1;
}

.icon-chart-rds .st2 {
  fill: #205B98;
}

.icon-chart-rds .st3 {
  fill: #5294CF;
}

.icon-chart-rds .st4 {
  fill: #2D72B8;
}

.icon-chart-tibero-focus {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-tibero-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-tibero-focus .st1 {
  fill: #666EB2;
}

.icon-chart-tibero-focus .st2 {
  fill: #01448D;
}

.icon-chart-tibero-focus .st3 {
  fill: #EA1B22;
}

.icon-chart-tibero {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-tibero .st0 {
  fill: #FFFFFF;
}

.icon-chart-tibero .st1 {
  fill: #B6B9C1;
}

.icon-chart-tibero .st2 {
  fill: #01448D;
}

.icon-chart-tibero .st3 {
  fill: #EA1B22;
}

.icon-chart-file {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.icon-chart-file.type-csv-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-csv-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-csv-focus .st2 {
  fill: none;
}

.icon-chart-file.type-csv-focus .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-csv .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-csv .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-csv .st2 {
  fill: none;
}

.icon-chart-file.type-csv .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-file-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-file-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-file-focus .st2 {
  fill: #4B515A;
}

.icon-chart-file.type-file .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-file .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-file .st2 {
  fill: #4B515A;
}

.icon-chart-file.type-json-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-json-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-json-focus .st2 {
  fill: none;
}

.icon-chart-file.type-json-focus .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-json .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-json .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-json .st2 {
  fill: none;
}

.icon-chart-file.type-json .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-txt-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-txt-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-txt-focus .st2 {
  fill: none;
}

.icon-chart-file.type-txt-focus .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-txt .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-txt .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-txt .st2 {
  fill: none;
}

.icon-chart-file.type-txt .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-xls-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xls-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-xls-focus .st2 {
  fill: #3F7651;
}

.icon-chart-file.type-xls .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xls .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-xls .st2 {
  fill: #3F7651;
}

.icon-chart-file.type-xlsx-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xlsx-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-xlsx-focus .st2 {
  fill: #3F7651;
}

.icon-chart-file.type-xlsx .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xlsx .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-xlsx .st2 {
  fill: #3F7651;
}

.icon-chart-file.type-xml-focus .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xml-focus .st1 {
  fill: #666EB2;
}

.icon-chart-file.type-xml-focus .st2 {
  fill: none;
}

.icon-chart-file.type-xml-focus .st3 {
  fill: #4B515A;
}

.icon-chart-file.type-xml .st0 {
  fill: #FFFFFF;
}

.icon-chart-file.type-xml .st1 {
  fill: #B6B9C1;
}

.icon-chart-file.type-xml .st2 {
  fill: none;
}

.icon-chart-file.type-xml .st3 {
  fill: #4B515A;
}


.pb-icon-type-ab {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 13px;
  height: 9px;
  margin-top: -5px;
  background: url(../../images/icon_valuetype.png) no-repeat;
  vertical-align: middle;
}
