@charset "utf-8";

/***********************************************************************
     Compontent : Tag
 *************************************************************************/
.pb-component-tag {
  display: inline-block;
  padding: 3px 6px 2px 6px;
  border-radius: 2px;
  font-size: 13px;
}

.pb-component-tag.type-dataflow {
  border: solid 1px #528aa9;
  background-color: #ebf3f5;
  color: #276384;
}

.pb-component-tag.type-new {
  color: #fff;
  font-weight: bold;
  background-color: #f76515;
  border: 1px solid #f76515;
}

.pb-component-tag.type-wrangled {
  color: #506917;
  border: 1px solid #9ab65a;
  background-color: #f0f3e9;
}

.pb-component-tag.type-type {
  border: 1px solid #a3a3a3;
  color: #fff;
  font-weight: normal;
  background-color: #a09e9b;
}

.pb-txt-status {
  font-size:14px;
  font-weight:bold;
}
.pb-txt-status.type-normal {font-weight:normal;}
.pb-txt-status.type-failed {color:#ff4d23;}
.pb-txt-status.type-running {color:#fdab00;}
.pb-txt-status.type-suspended {color:#a09e9b;}
.pb-txt-status.type-succeeded {color:#14933d;}
.pb-txt-status.type-preparing {color:#a09e9b;}
.pb-txt-status.type-stop {color:#dedede;}



.pb-txt-status .pb-icon-status {display:inline-block; overflow:hidden; margin-right:5px;}
.pb-txt-status .pb-icon-status i {display:inline-block; float:left;margin-left:3px;width:6px; height:6px; border-radius:50%;}
.pb-txt-status .pb-icon-status i:first-of-type {margin-left:0;}

.pb-txt-status.type-running .pb-icon-status i:nth-child(1) {background-color:#ff4d23;}
.pb-txt-status.type-running .pb-icon-status i:nth-child(2) {background-color:#14933d;}
.pb-txt-status.type-running .pb-icon-status i:nth-child(3) {background-color:#14933d;}

.pb-txt-status.type-suspended .pb-icon-status i:nth-child(1) {background-color:#14933d;}
.pb-txt-status.type-suspended .pb-icon-status i:nth-child(2) {background-color:#dedede;}
.pb-txt-status.type-suspended .pb-icon-status i:nth-child(3) {background-color:#14933d;}


.pb-txt-scheduled {font-size:14px;}
.pb-txt-scheduled.type-on {color:#f37135;}
.pb-txt-scheduled.type-off {color:#a09e9b;}


