<div class="pb-layout-contents">
    <!-- navi -->
    <!--
        navi 클릭시 is-selected 추가
        navi 확대시 type-open 추가
    -->
    <div class="pb-layout-navi">
        <div class="pb-wrap-navi">
            <a href="javascript:" class="pb-btn-navi"></a>
        </div>

        <!-- lnb navi -->
        <div class="pb-lnb-navigation">
            <a href="javascript:" class="pb-btn-resize"></a>
            <div class="pb-top-title">
                <em class="pb-icon-navi"></em>
                NAVIGATION
            </div>
            <!-- search -->
            <div class="pb-top-search">
                <input type="text">
            </div>
            <!-- //search -->
            <!-- navi 확대 -->
            <div class="pb-contents-navi-open">
                <div class="pb-contents-in-open">

                    <!-- navi buttons -->
                    <div class="pb-ui-navi-buttons">
                        <a href="javascript:" class="pb-btn-menu type-folder">
                            Folder
                        </a>
                        <a href="javascript:" class="pb-btn-menu type-dashboard">
                            Dashboard
                        </a>
                        <a href="javascript:" class="pb-btn-menu type-report">
                            Report
                        </a>

                        <div class="pb-ui-part">
                            <a href="javascript:" class="pb-btn-menu type-link">
                                Link
                            </a>
                            <a href="javascript:" class="pb-btn-menu type-copy">
                                Copy
                            </a>
                            <a href="javascript:" class="pb-btn-menu type-delete">
                                Delete
                            </a>
                            <a href="javascript:" class="pb-btn-menu type-share">
                                Share
                            </a>
                        </div>

                    </div>
                    <!-- //navi buttons -->
                    <!-- contents open file -->
                    <div class="pb-contents-open-file">
                        <!-- list open file -->
                        <ul class="pb-list-open-file">
                            <li>
                                <div class="pb-img-folder">
                                    <a href="javascript:" class="pb-btn-pin is-selected"></a>

                                </div>
                                <span class="pb-data-file-name">Manufacturing A</span>
                            </li>
                            <li>
                                <div class="pb-img-folder">
                                    <a href="javascript:" class="pb-btn-pin"></a>

                                </div>
                                <span class="pb-data-file-name">Manufacturing A</span>
                            </li>
                            <li>
                                <div class="pb-box-file">
                                    <div class="pb-ui-graph" style="background-color:#ccc">
                                        그래프영역
                                    </div>

                                    <a href="javascript:" class="pb-btn-pin"></a>

                                </div>
                                <span class="pb-data-file-name">Manufacturing A</span>
                            </li>
                            <li>
                                <div class="pb-box-file">
                                    <div class="pb-ui-graph" style="background-color:#ccc">
                                        그래프영역
                                    </div>

                                    <a href="javascript:" class="pb-btn-pin is-selected"></a>

                                </div>
                                <span class="pb-data-file-name">Manufacturing A</span>
                            </li>
                        </ul>
                        <!-- //list open file -->
                    </div>
                    <!-- //contents open file -->
                </div>

                <!-- bottom open file -->
                <div class="pb-bottom-open-file">
                    <div class="pb-data-total">Total 54 files</div>
                    <!-- right -->
                    <div class="pb-fright">
                        <!-- slider -->
                        <div class="pb-wrap-slider2">
                            <a href="javascript:" class="pb-btn-minus"></a>
                            <a href="javascript:" class="pb-btn-plus"></a>

                            <!--<input type="text" id="rangeslider2">-->
                            <!--<script>-->
                                <!--$(function(){-->
                                    <!--$("#rangeslider2").ionRangeSlider({-->
                                        <!--min: 0,-->
                                        <!--max: 100,-->
                                        <!--from: 50-->
                                    <!--});-->
                                <!--})-->
                            <!--</script>-->
                        </div>
                        <!-- //slider -->
                        <!-- type -->
                        <div class="pb-type-file">
                            <a href="javascript:" class="pb-btn-folder"></a>
                            <a href="javascript:" class="pb-btn-grid"></a>
                        </div>
                        <!-- //type -->
                    </div>
                    <!-- //right -->


                </div>
                <!-- //bottom open file -->
            </div>
            <!-- //navi 확대 -->
            <!-- navi tab -->
            <div class="pb-wrap-navi-tab">
                <!-- tab -->
                <ul class="pb-list-navi-tab pb-clear">
                    <li class="is-selected">
                        <a href="javascript:">MY FILE</a>
                    </li>
                    <li>
                        <a href="javascript:">CLIPBOARD</a>
                    </li>
                </ul>
                <!-- //tab -->
                <!-- contents -->
                <div class="pb-ui-navi-contents">
                    <ul class="pb-list-menu">
                        <li class="is-selected">
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu1"></em>Manufacturing A
                            </a>
                            <!-- sub -->
                            <ul class="pb-list-menu-sub">
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                            </ul>
                            <!-- //sub -->
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu2"></em>Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu3"></em>
                                Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu4"></em>Manufacturing A
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //contents -->
                <!-- lnb navi bottom -->
                <div class="pb-lnb-navi-bottom">
                    <ul class="pb-list-navi-bottom">
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom1"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom2"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom3"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom4"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom5"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom6"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom7"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //lnb navi bottom -->
            </div>
            <!-- //navi tab -->
        </div>
        <!-- //lnb navi -->
    </div>

    <!-- //navi -->
    <!-- wrap contents -->
    <div class="pb-wrap-contents">
        <!-- top -->
        <div class="pb-contents-top">
            <!-- right -->
            <div class="pb-ui-buttons">
                <a href="javascript:;" class="pb-component-btn type-line" (click)="confirmDelete($event, selectedDataSnapshot)">DELETE</a>

                <a href="javascript:" class="pb-component-btn type-line" (click)="navigateDataflow(dfId)">GO TO DATAFLOW</a>
                <!--<div class="pb-ui-part">-->
                    <!--<a href="javascript:" class="pb-component-btn type-bg"><em class="pb-icon-add-r"></em>CREATE DATA RESULT</a>-->
                <!--</div>-->
            </div>
            <!-- //right -->
            <!-- txt navi -->
            <div class="pb-txt-navi">
                <a href="javascript:" class="pb-btn-back" (click)="onClickPrev()"></a>
                {{selectedDataSnapshot.ssName}}
            </div>
            <!-- //txt navi -->

        </div>
        <!-- //top -->




        <!-- contents -->
        <div class="pb-wrap-box-contents">
            <!-- box -->
            <div class="pb-box-contents dataresult-type">

                <div class="ddp-wrap-datadetail">
                    <!-- left -->
                    <div class="ddp-info-left">


                        <!-- SUCCESS -->
                        <!-- summary -->
                        <div class="ddp-wrap-summary" *ngIf="selectedDataSnapshot!=null && selectedDataSnapshot.displayStatus==='SUCCESS'">
                            <div class="ddp-data-summary">
                                <span class="ddp-txt-label">{{'msg.dp.th.ss.valid' | translate}}</span>
                                <span class="ddp-data-per">{{ valid }}</span>
                            </div>
                            <div class="ddp-data-summary ddp-mismatch">
                                <span class="ddp-txt-label">{{'msg.dp.th.ss.mismatched' | translate}}</span>
                                <span class="ddp-data-per">{{ mismatched }}</span>
                            </div>
                            <div class="ddp-data-summary ddp-missing">
                                <span class="ddp-txt-label">{{'msg.dp.th.ss.missing' | translate}}</span>
                                <span class="ddp-data-per">{{ missing }}</span>
                            </div>
                        </div>
                        <!-- //summary -->


                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail" [hidden]="selectedDataSnapshot==null || selectedDataSnapshot.displayStatus!='SUCCESS'">
                            <label class="ddp-label-detail">DATA</label>
                            <div class="ddp-form-box">
                                <div grid-component style="width:100%; height:100%;"></div>
                            </div>
                        </div>
                        <!-- //datadetail -->
                        <!-- // SUCCESS -->




                        <!-- FAIL -->
                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail" *ngIf="selectedDataSnapshot.displayStatus==='FAIL'">
                            <label class="ddp-label-detail">ERROR</label>
                            <div class="ddp-txt-log">
                                <p [innerHTML]="selectedDataSnapshot.custom['fail_msg']"></p>
                            </div>
                        </div>
                        <!-- //datadetail -->
                        <!-- // FAIL -->


                        <!-- PREPARING -->
                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail" *ngIf="selectedDataSnapshot.displayStatus==='PREPARING'">
                            <label class="ddp-label-detail">GENERATING</label>


                            <div class="pb-component-upload">
                                <span class="pb-data-num">{{progressbarWidth}}</span>
                                <div class="pb-ui-bar">
                                    <span [ngStyle]="{'width': progressbarWidth}"></span>
                                </div>
                                <a href="javascript:" class="pb-component-btn" (click)="cancelClick(true)">Cancel</a>
                            </div>


                            <div class="pb-component-upload" style="display:none;">
                                <span class="pb-data-num">{{progressbarWidth}}</span>
                                <div class="pb-ui-bar">
                                    <span [ngStyle]="{'width': progressbarWidth}"></span>
                                </div>
                                <!--<a href="javascript:" class="pb-component-btn">Cancel</a>-->
                                <a href="javascript:" class="pb-component-btn" (click)="cancelClick(false)">{{'msg.dp.ui.no' | translate }}</a>
                                <a href="javascript:" class="pb-component-btn" (click)="cancelSnapshot()">{{'msg.dp.ui.yes' | translate }}</a>

                            </div>
                        </div>
                        <!-- //datadetail -->
                        <!-- // PREPARING -->








                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail" style="border-top: none">
                            <label class="ddp-label-detail">DATAFLOW</label>
                            <table class="ddp-table-detail ">
                                <colgroup>
                                    <col width="92px">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>
                                        {{'msg.comm.ui.name' | translate}}
                                    </th>
                                    <td class="ddp-link-url">
                                        <a href="javascript:;" (click)="navigateDataflow(dfId)">{{selectedDataSnapshot.dfName}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {{'msg.comm.ui.list.created' | translate}}
                                    </th>
                                    <td>
                                        {{selectedDataSnapshot.dsCreatedTime | mdate:'YYYY-MM-DD HH:mm'}}
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        {{'msg.comm.ui.list.updated' | translate}}
                                    </th>
                                    <td>
                                        {{selectedDataSnapshot.dsModifiedTime | mdate:'YYYY-MM-DD HH:mm'}}
                                    </td>

                                </tr>


                                </tbody>

                            </table>
                        </div>
                        <!-- //datadetail -->




                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail" style="border-top: none">
                            <label class="ddp-label-detail">ORIGIN DATASET INFORMATION</label>
                            <table class="ddp-table-detail ">
                                <colgroup>
                                    <col width="92px">
                                    <col width="*">
                                </colgroup>
                                <tbody>


                                <tr>
                                    <th>
                                        {{'msg.board.th.datasource' | translate}}
                                    </th>
                                    <td>
                                        <div class="ddp-txt-cut">{{ originDsInfo.dsName }}</div>
                                    </td>

                                </tr>


                                <tr *ngIf="originDsInfo.qryStmt">
                                    <th>
                                        {{'msg.dp.th.query.stmt' | translate}}
                                    </th>
                                    <td>
                                        <div class="ddp-txt-cut">{{ originDsInfo.qryStmt }}</div>
                                    </td>
                                </tr>


                                <!--<tr *ngIf="originDsInfo">-->
                                    <!--<th>-->
                                        <!--{{'msg.board.th.datasource' | translate}}-->
                                    <!--</th>-->
                                    <!--<td>-->
                                        <!--<div class="ddp-txt-cut">{{ originDsInfo.filePath }}</div>-->
                                    <!--</td>-->

                                <!--</tr>-->

                                <tr>
                                    <th>
                                        {{'msg.comm.ui.list.created' | translate}}
                                    </th>
                                    <td>
                                        <div class="ddp-txt-cut">{{originDsInfo.createdTime | mdate:'YYYY-MM-DD HH:mm'}}</div>
                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </div>
                        <!-- //datadetail -->
                    </div>
                    <!-- //left -->











                    <!-- right -->
                    <div class="ddp-info-right">


                        <!-- datadetail -->
                        <div class="ddp-ui-datadetail">
                            <label class="ddp-label-detail">INFORMATION</label>
                            <table class="ddp-table-detail ">
                                <colgroup>
                                    <col width="92px">
                                    <col width="*">
                                </colgroup>
                                <tbody>

                                <tr *ngFor="let item of sSInformationList">
                                    <th>
                                        {{item.label}}
                                    </th>

                                    <td *ngIf="item.isFileUri; else notFile" title="{{item.value}}">
                                        {{item.value}}
                                    </td>
                                    <ng-template #notFile>
                                        <td>
                                            {{item.value}}
                                        </td>
                                    </ng-template>

                                </tr>

                                </tbody>

                            </table>
                            <!-- rule -->
                            <div class="ddp-wrap-rules-flow ddp-snapshot">

                                <!-- title -->
                                <div class="ddp-box-title">
                                    <em class="ddp-data-num">{{ruleList?.length}}</em>
                                    {{'msg.dp.ui.rule.list' | translate}}
                                </div>
                                <!-- //title -->

                                <div class="ddp-ui-rule-flow">
                                    <ul class="ddp-list-rule2">
                                        <li *ngFor="let rule of ruleList; let idx = index">
                                                <span class="ddp-data-type">
                                                    <em class="ddp-ui-round">{{rule.alias}}</em>
                                                    {{rule.name}}
                                                </span>
                                                <div class="ddp-ui-code" title="{{idx !== 0 ? rule.ruleString : null}}">
                                                    {{rule['simplifiedRule']}}
                                                </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //rule -->
                        </div>
                        <!-- //datadetail -->
                    </div>
                    <!-- //right -->

                </div>
            </div>
            <!-- //box -->

















        </div>

        <!-- //contents navi -->
    </div>
    <!-- //wrap contents -->
</div>