<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column *</div>
  <div class="pb-form-edit">
    <!-- selectbox -->
    <div class="pb-form-selectbox type-value ">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup" style="">
        <span class="pb-txt-label2">
            Filter
        </span>
        <ul class="pb-list-popup">
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //selectbox -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Pattern *</div>
  <div class="pb-form-edit">
    <input type="text" class="pb-component-input" placeholder="Placeholder">
    <div class="pb-box-info" style="display:none;">
      <div class="pb-box-info-in">
        <span class="pb-input-title">What is Pattern?</span>
        Detail DetailDetailDetailDetailDetailDetailDetail<br><br>
        DetailDetailDetailDetailDetailDetailDetail
        <strong class="pb-ex">Examples</strong>
        Examples Examples dkdlfjls;dkfj;lajfdsalfj ladjf l;dajsf l;aj l;dajl
      </div>
    </div>
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">New value</div>
  <div class="pb-form-edit">
    <input type="text" class="pb-component-input" placeholder="Placeholder">
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Quote character</div>
  <div class="pb-form-edit">
    <input type="text" class="pb-component-input" placeholder="Placeholder">
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Match ocurrences
  </div>
  <div class="pb-form-edit">
    <div class="pb-component-radio-toggle">
      <label class="pb-type-radio">
        <input type="radio" checked="">
        <span class="pb-txt-radio">Yes</span>
      </label>
      <label class="pb-type-radio">
        <input type="radio">
        <span class="pb-txt-radio">No</span>
      </label>
    </div>
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Ignore case</div>
  <div class="pb-form-edit">
    <div class="pb-component-radio-toggle">
      <label class="pb-type-radio">
        <input type="radio" checked="">
        <span class="pb-txt-radio">Yes</span>
      </label>
      <label class="pb-type-radio">
        <input type="radio">
        <span class="pb-txt-radio">No</span>
      </label>
    </div>
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Use only under the following conditions</div>
  <div class="pb-form-edit">
    <textarea class="pb-component-textarea-resize"></textarea>
  </div>
</div>
<!-- //block part -->
