<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column *</div>
  <div class="pb-form-edit">
    <!-- selectbox -->
    <div class="pb-form-selectbox type-value ">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup" style="">
        <span class="pb-txt-label2">
            Filter
        </span>
        <ul class="pb-list-popup">
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //selectbox -->
  </div>
</div>
<!-- //block part -->

<!-- buttons -->
<div class="pb-part-button">
  <a class="pb-btn-bg" href="javascript:">Rename Multiple Columns</a>
</div>
<!-- //buttons -->
