<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column *</div>
  <div class="pb-form-edit">
    <!-- selectbox -->
    <div class="pb-form-selectbox type-value ">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup" style="">
        <span class="pb-txt-label2">
            Filter
        </span>
        <ul class="pb-list-popup">
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //selectbox -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column *</div>
  <div class="pb-form-edit">
    <div class="pb-form-edit type-info">
      <input type="text" class="pb-component-input" placeholder="Placeholder">
      <div class="pb-ui-info">
        <em class="pb-icon-sinfo2"></em>
        <div class="pb-box-info">
          콤포넌트에 대한 설명. 각 콤포넌트마다 있으며,
          콤포넌트영역 Hover시 아이콘이 나타납니다.
          길어질 때 스크롤 없이 모두 보여줍니다.
        </div>
      </div>
    </div>
  </div>
  <!-- //block part -->
</div>
