<!-- lnb -->
<div lnb></div>
<!-- //lnb -->

<div class="pb-wrap-contents">
  <div class="pb-contents-top">
    <!-- button -->
    <div class="pb-ui-buttons">
      <!-- icon button -->
      <div class="pb-btn-icons">
        <a href="javascript:" class="pb-icon-top-undo"></a>
        <a href="javascript:" class="pb-icon-top-redo"></a>
      </div>
      <!-- //icon button -->
      <div class="pb-ui-part">
        <a href="javascript:" class="pb-component-btn type-line">CANCEL</a>
        <a href="javascript:" class="pb-component-btn type-bg">DONE</a>
      </div>
    </div>
    <!-- //button -->
    <!-- txt navi -->
    <div class="pb-txt-navi">
      <a href="javascript:" class="pb-btn-back" (click)="location.back()"></a> Data Flow 01 > Dataset 01
    </div>
    <!-- //txt navi -->
  </div>
  <div class="pb-wrap-box-rule">
    <div class="pb-box-rule type-rule">
      <!-- top -->
      <div class="pb-box-top">
        <div class="pb-fleft">
          <span class="pb-top-label">적용항목</span>
          <span class="pb-box-data-analysis">Derive A Column</span>
          <span class="pb-box-data-analysis">Substring A Column and B Column</span>
          <span class="pb-box-data-analysis">Derive A Column</span>
        </div>
        <a href="javascript:" class="pb-icon-top-edit2"></a>
      </div>
      <!-- //top -->
      <div class="pb-ui-graph2">
        <!-- setting -->
        <div class="pb-ui-setting pb-clear">
          <!-- left -->
          <div class="pb-fleft">

            <!--
                  focus 일때 type-focus 추가
              -->
            <div class="pb-component-search type-focus ">
              <input type="text" placeholder="Search for values">
              <a href="javascript:" class="pb-btn-delete"></a>
            </div>
          </div>
          <!-- //left -->
          <!-- right -->
          <div class="pb-fright">

            <div class="pb-data-set-num">
              <span class="pb-data-txt"><strong>23</strong> Columns</span>
              <span class="pb-data-txt"><strong>23</strong> Types</span>
            </div>
            <!-- tab button -->
            <ul class="pb-component-tab-btn pb-clear">
              <li [class.is-selected]="localStorageService.currentViewMode() === VIEW_MODE.CARD">
                <a href="javascript:" class="pb-icon-grid"
                   (click)="localStorageService.saveViewMode(VIEW_MODE.CARD)">
                </a>
              </li>
              <li [class.is-selected]="localStorageService.currentViewMode() === VIEW_MODE.LIST">
                <a href="javascript:" class="pb-icon-list"
                   (click)="localStorageService.saveViewMode(VIEW_MODE.LIST)">
                </a>
              </li>
            </ul>
            <!-- //tab button -->
          </div>
          <!-- //right -->
        </div>
        <!-- //setting -->
        <div class="pb-wrap-grid">
          <angular-slickgrid
            [gridId]="COMMON_UTIL.Generate.makeUUID()"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            (onAngularGridCreated)="angularGridReady($event)">
          </angular-slickgrid>
        </div>
      </div>
    </div>
  </div>
</div>
