<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column</div>
  <div class="pb-form-edit">
    <!--
       클릭시 is-selected 추가 (popup show, input show)
       값 선택시 type-value 추가
     -->
    <div class="pb-form-selectbox ">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup">
        <span class="pb-txt-label2">
            Filter
        </span>
        <ul class="pb-list-popup">
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Pattern</div>
  <div class="pb-form-edit">
    <input class="pb-component-input" placeholder="placeholder">
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">New value</div>
  <div class="pb-form-edit">
    <input class="pb-component-input" placeholder="placeholder">
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Quote character</div>
  <div class="pb-form-edit">
    <input class="pb-component-input" placeholder="placeholder">
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Match all occurrences</div>
  <div class="pb-form-edit">
    <!-- component radio toggle -->
    <div class="pb-component-radio-toggle">
      <label class="pb-type-radio">
        <input type="radio" checked>
        <span class="pb-txt-radio">Yes</span>
      </label>
      <label class="pb-type-radio">
        <input type="radio">
        <span class="pb-txt-radio">No</span>
      </label>
    </div>
    <!-- //component radio toggle -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Ignore case</div>
  <div class="pb-form-edit">
    <!-- component radio toggle -->
    <div class="pb-component-radio-toggle">
      <label class="pb-type-radio">
        <input type="radio">
        <span class="pb-txt-radio">Yes</span>
      </label>
      <label class="pb-type-radio">
        <input type="radio" checked>
        <span class="pb-txt-radio">No</span>
      </label>
    </div>
    <!-- //component radio toggle -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Use only under the following conditions</div>
  <div class="pb-form-edit">
    <input class="pb-component-input" placeholder="placeholder">
  </div>
</div>
<!-- //block part -->
