<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Column *</div>
  <div class="pb-form-edit">
    <!-- selectbox -->
    <div class="pb-form-selectbox type-value ">
      <span class="pb-txt-selectbox">Select data</span>
      <!-- popup -->
      <div class="pb-select-popup" style="">
        <span class="pb-txt-label2">
            Filter
        </span>
        <ul class="pb-list-popup">
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
          <li class="">
            <a href="javascript:">
              <label class="pb-label-checkbox">
                <input type="checkbox">
                <i class="pb-icon-checkbox"></i>
                <span class="pb-txt-checkbox">unchecked</span>
              </label>
            </a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //selectbox -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Expression *</div>
  <div class="pb-form-edit">
    <!-- input popup -->
    <!-- 클릭시 is-selected 추가 -->
    <div class="pb-form-input-popup ">
      <input type="text" class="pb-component-input">
      <!-- popup -->
      <div class="pb-select-input-popup">
        <ul class="pb-list-selectbox">
          <li class="is-selected">
            <a href="javascript:"> day</a>
          </li>
          <li>
            <a href="javascript:"> day</a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //input popup -->
  </div>
</div>
<!-- //block part -->
<!-- block part -->
<div class="pb-block-part">
  <div class="pb-label-part">Use only under the following conditions</div>
  <div class="pb-form-edit">
    <!-- input popup -->
    <!-- 클릭시 is-selected 추가 -->
    <div class="pb-form-input-popup is-selected">
      <input type="text" class="pb-component-input">
      <!-- popup -->
      <div class="pb-select-input-popup">
        <ul class="pb-list-selectbox">
          <li class="is-selected">
            <a href="javascript:"> <span class="type-text-select">d</span>ay</a>
          </li>
          <li>
            <a href="javascript:"> day</a>
          </li>
        </ul>
      </div>
      <!-- //popup -->
    </div>
    <!-- //input popup -->
  </div>
</div>
<!-- //block part -->
<!-- buttons -->
<div class="pb-part-button">
  <a class="pb-btn-bg" href="javascript:"><em class="ddp-icon-editor"></em>Advanced editor</a>
</div>
<!-- //buttons -->
