@charset "utf-8";

/***********************************************************************
     Page : Rule
 *************************************************************************/
.pb-rnb-menu {display:flex; flex-direction:column;position:relative; min-width:56px; height:100%; border-left:1px solid #cccbc4; overflow:auto;}
.pb-rnb-menu.is-selected {min-width:250px; width:250px;}
.pb-rnb-menu.is-selected ul.pb-list-rnb > li {border-bottom:1px solid #cecec7;}
.pb-rnb-menu.is-selected ul.pb-list-rnb > li > a {padding-left:16px; }
.pb-rnb-menu.is-selected ul.pb-list-rnb > li > a [class*="pb-icon-"] {display:none; left:23px; margin-left:0;}
.pb-rnb-menu.is-selected ul.pb-list-rnb > li.is-selected {flex:auto;}
.pb-rnb-menu.is-selected .pb-btn-menu-close {position:absolute; bottom:62px; left:0;width:48px; height:41px; background:url(../../images/btn_rnb_close.png) no-repeat; z-index:5;}
.pb-rnb-menu.is-selected .pb-btn-menu-close:hover {background-position-x:-49px;}
.pb-rnb-menu.is-selected ul.pb-list-rnb > li > a .pb-txt-rnb {display:block;}
ul.pb-list-rnb {display:flex; flex-direction:column;flex:auto; height:100%;}
ul.pb-list-rnb li .pb-ui-rnb-tab {display:none;}
ul.pb-list-rnb li.is-selected .pb-ui-rnb-tab {display:block;}
ul.pb-list-rnb li {}
ul.pb-list-rnb > li > a {display:block; position:relative; padding:21px 0;}
ul.pb-list-rnb > li > a [class*="pb-icon-"] {display:inline-block; position:absolute; top:50%; left:50%; background:url(../../images/icon_rnb.png) no-repeat;}
ul.pb-list-rnb > li > a .pb-txt-rnb {display:none; color:#000; font-size:14px; font-weight:bold;}
ul.pb-list-rnb > li > a .pb-icon-data {width:23px; height:20px; margin:-10px 0 0 -11px;}
ul.pb-list-rnb > li > a .pb-icon-chart {width:23px; height:22px; margin:-11px 0 0 -11px; background-position:left -22px;}
ul.pb-list-rnb > li > a .pb-icon-filter {width:23px; height:17px; margin:-9px 0 0 -11px;background-position:left -46px;}
ul.pb-list-rnb > li > a .pb-icon-style {width:23px; height:20px; margin:-10px 0 0 -12px; background-position:left -64px;}
ul.pb-list-rnb > li > a .pb-icon-analysis {width:24px; height:17px; margin:-9px 0 0 -12px; background-position:left -177px;}
ul.pb-list-rnb > li > a .pb-icon-algorithm {width:20px; height:19px; margin:-10px 0 0 -10px; background-position:left -197px;}
.pb-ui-rnb-tab {overflow:hidden;}
.pb-list-rnb-tab > li { position:relative; float:left; width:50%;}
.pb-list-rnb-tab > li a {display:block; padding-bottom:12px;text-align:center;}
.pb-list-rnb-tab > li:before {display:inline-block; position:absolute; top:5px; left:0; margin-top:-8px; height:16px;  border-left:1px solid #cfcec7;content:'';}
.pb-list-rnb-tab > li:first-of-type:before {display:none;}
.pb-ui-rnb-tab [class*="pb-icon-tab-"]{display:inline-block; background:url(../../images/icon_rnb.png) no-repeat;}
.pb-list-rnb-tab li a .pb-icon-tab-data {width:12px; height:14px; background-position:left -292px;}
.pb-list-rnb-tab li a .pb-icon-tab-rule {width:16px; height:15px; background-position:left -307px;}
.pb-list-rnb-tab li.is-selected a:after {display:inline-block; position:absolute; bottom:0; left:50%; margin-left:-6px; width:11px; height:7px; background:url(../../images/icon_rnb.png) no-repeat; background-position:left -169px; content:'';}

.pb-ui-rnb-tab .pb-rnb-sub:before {display:none;}
ul.pb-list-sub-menu {margin-top:-1px;}
ul.pb-list-sub-menu > li > a {display:block; position:relative; padding:17px 0 17px 37px;color:#484847; font-size:13px; font-weight:600; border-top:1px solid #cfcec7;}
ul.pb-list-sub-menu > li > a:hover {background-color:#cfcec7;}
ul.pb-list-sub-menu > li:first-of-type > a {border-top:none;}
ul.pb-list-sub-menu > li > a [class*="pb-icon-sub-"] {display:inline-block; position:absolute; top:50%; left:17px; background:url(../../images/icon_rnb.png) no-repeat;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-drop {width:10px; height:13px; margin-top:-7px;background-position:left -323px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-alter {width:13px; height:16px;  margin-top:-8px;background-position:left -337px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-edit {width:12px; height:13px;  margin-top:-7px;background-position:left -354px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-generate {width:14px; height:14px;  margin-top:-7px;background-position:left -368px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-sort {width:12px; height:13px;  margin-top:-7px;background-position:left -383px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-move {width:13px; height:11px;  margin-top:-6px;background-position:left -398px;}
ul.pb-list-sub-menu > li > a .pb-icon-sub-clean {width:10px; height:10px;  margin-top:-5px;background-position:left -410px;}
.pb-wrap-box-rule {position:relative; flex:auto; margin-left:-27px; padding:0 18px 18px 0;z-index:2; overflow:auto;}
.pb-wrap-box-rule .pb-box-rule {display:flex; flex-direction:column; align-items:center; justify-content:center; height:100%; border-radius:5px; background-color:#fff; border:1px solid #d5d4cd;box-shadow: 4px 4px 6px 0 rgba(64,64,61,0.15);}
.pb-wrap-box-rule .pb-box-rule.type-rule {align-items:initial; justify-content: initial}
.pb-wrap-box-rule .pb-box-rule.type-rule .pb-ui-graph {flex:auto; height:100%;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-title {width:100%;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-title .pb-txt-title {display:block; color:#000; font-size:34px; text-align:center;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-title .pb-txt-det {display:block; padding:20px 0 0 0; margin-bottom:50px;color:rgba(0,0,0,0.7); font-size:19px; text-align:center;}
.pb-box-rule .swiper-button-prev,
.pb-box-rule .swiper-button-next{display:inline-block; width:28px; height:49px; background:url(../../images/icon_slider.png) no-repeat;}
.pb-box-rule .swiper-button-prev {left:48px;}
.pb-box-rule .swiper-button-next {right:48px; transform:rotate(180deg);}
.pb-box-rule .swiper-container {height:422px;}
.pb-box-rule .pb-box-top {height:56px; min-height:56px; border-bottom:1px solid #d5d4cd;}
.pb-box-rule .pb-box-top .pb-fleft {padding:16px 0 0 23px;}
.pb-box-rule .pb-box-top .pb-fleft .pb-top-label {margin-right:10px; font-size:14px; color:#737373;}
.pb-box-rule .pb-box-top .pb-icon-top-analysis1,
.pb-box-rule .pb-box-top .pb-icon-top-edit,
.pb-box-rule .pb-box-top .pb-icon-top-edit2 {display:inline-block; float:left;background:url(../../images/icon_box_rule.png) no-repeat;}
.pb-box-rule .pb-box-top .pb-icon-top-analysis1 {position:relative; top:6px; width:20px; height:16px;}
.pb-box-rule .pb-box-top .pb-icon-top-edit {float:right; margin:21px 25px 0 0;width:17px; height:18px; background-position:left -20px;}
.pb-box-rule .pb-box-top .pb-icon-top-edit2 {float:right; margin:21px 25px 0 0;width:12px; height:13px; background-position:left -37px;}
.pb-box-rule .pb-box-top .pb-icon-top-edit2:hover { background-position:left -51px;}
.pb-box-rule .pb-box-top .pb-box-data-analysis {display:inline-block; margin-right:5px;padding:2px 6px 3px 6px;color:#f77114; font-size:13px; border:1px solid #feb674; border-radius:4px; background-color:#fffdf5;}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pb-wrap-box-rule .pb-box-chart {position:relative; margin:0 12px;width:287px;height:422px; border-radius:8px; border:1px solid #d4d4d2; overflow:hidden; text-align:left;}
.pb-wrap-box-rule .pb-box-chart .pb-ui-graph {height:186px}
.pb-wrap-box-rule .pb-box-chart .pb-txt-name {padding:25px 0 27px 30px;color:#000; font-size:17px;}
.pb-wrap-box-rule .pb-box-chart .pb-ui-bottom {position:absolute; bottom:0; left:0; right:0; height:162px; background-color:#f7f7f5;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart {padding:25px 0;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li {position:relative; height:37px; padding:4px 0 4px 63px;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-column,
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-row,
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-cross{display:inline-block; position:absolute; top:50%; left:31px; background:url(../../images/icon_chart.png) no-repeat;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-column {width:10px; height:10px; margin-top:-5px;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-row {width:10px; height:10px; margin-top:-5px;background-position:-11px top;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-icon-cross {width:12px; height:12px; margin-top:-6px;background-position:-22px top;}

.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf {display:inline-block; position:relative; padding:6px 34px 7px 33px; border-radius:4px; background-color:#e6e6e3; color:#000; font-size:14px;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf.type-shelf {border-left:4px solid #2569b4;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf.type-shelf2 {border-left:4px solid #845410;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf .pb-btn-close-s {display:inline-block; position:absolute; top:50%; right:10px; margin-top:-4px; width:9px; height:8px; background:url(../../images/btn_close.png) no-repeat; background-position:left -21px;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf [class*="pb-icon-type"] {display:inline-block; position:absolute; top:50%; left:11px; margin-top:-6px;background:url(../../images/icon_types.png) no-repeat;}
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf .pb-icon-type-ab {width:15px; height:11px; }
.pb-wrap-box-rule .pb-box-chart ul.pb-list-chart li .pb-box-shelf .pb-icon-type-sharp {width:16px; height:11px; background-position:-16px top;}
ul.pb-list-rnb > li.is-selected .pb-rnb-sub {display:block;}
.pb-rnb-sub {display:none; position:relative; background-color:#e0ded8;}

.pb-rnb-sub .pb-ui-store {position:relative; padding:5px 10px 8px 62px; color:#000; font-size:15px; border-bottom:1px solid #bbbab5;}
.pb-rnb-sub .pb-ui-store:before {position:absolute; top:3px; left:28px; width:23px; height:14px; background:url(../../images/icon_rnb.png) no-repeat; background-position:left -154px; content:'';}
ul.pb-list-rnb-sub {overflow:hidden;}
ul.pb-list-rnb-sub li {position:relative;float:left; width:25%; padding:20px 0;}
ul.pb-list-rnb-sub li.is-disabled:after {position:absolute; top:0; left:0; right:0; bottom:0; content:''; cursor:no-drop;}
ul.pb-list-rnb-sub li a {display:block;position:relative; text-align:center; border-left:1px solid rgba(26,26,26,0.4);}

ul.pb-list-rnb-sub li:first-of-type a {border-left:none;}
ul.pb-list-rnb-sub li a em[class*="pb-icon-top"] {display:inline-block; background:url(../../images/icon_rnb.png) no-repeat; opacity:0.7;}
ul.pb-list-rnb-sub li.is-disabled a em[class*="pb-icon-top"] {opacity:0.4;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu1 {width:15px; height:15px;  background-position:left -86px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu2 {width:14px; height:16px; background-position:left -102px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu3 {width:17px; height:16px;background-position:left -120px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu4 {width:19px; height:15px;background-position:left -137px;}

ul.pb-list-rnb-sub li a em.pb-icon-top-menu5 {width:21px; height:19px;  background-position:left -217px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu6 {width:19px; height:17px;  background-position:left -238px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu7 {width:19px; height:17px;  background-position:left -256px;}
ul.pb-list-rnb-sub li a em.pb-icon-top-menu8 {width:18px; height:18px;  background-position:left -274px;}
ul.pb-list-type-data {padding:20px 0;}
ul.pb-list-type-data li a {display:block; position:relative; padding:4px 10px 4px 65px; color:#000; font-size:16px;}
ul.pb-list-type-data li a:hover {background-color:#d2d0ca;}
ul.pb-list-type-data li a .pb-icon-type-ab {}

ul.pb-list-type-data li a [class*="pb-icon-type"] {display:inline-block; position:absolute; top:50%; left:39px; margin-top:-6px;background:url(../../images/icon_types.png) no-repeat;}
ul.pb-list-type-data li a .pb-icon-type-ab {width:15px; height:11px; }
ul.pb-list-type-data li a .pb-icon-type-sharp {width:16px; height:11px; background-position:-16px top;}

.pb-rnb-sub .pb-part-sub {padding:0 10px 20px 10px; border-bottom:1px solid #cccbc4;}
.pb-rnb-sub .pb-sub-title {padding:30px 0 20px 0;color:#000; font-size:15px; font-weight:600;}
.pb-rnb-sub .pb-form-option .pb-label-form {display:block; padding:5px 0;color:#010101; font-size:15px; border-bottom:1px solid #cccbc4;}
.pb-rnb-sub .pb-form-option.type-toggle {padding:20px 0 0 0;overflow:hidden;}
.pb-rnb-sub .pb-form-option.type-toggle .pb-label-form {padding-bottom:0;float:left; line-height:32px;}
.pb-rnb-sub .pb-form-option.type-toggle .pb-component-toggle {float:right;}
.pb-rnb-sub .pb-form-option.type-default {padding-top:8px;}
.pb-rnb-sub .pb-form-option.type-default2 {padding-top:22px;}
.pb-rnb-sub .pb-form-option.type-slider {padding:15px 0 0 0;}
.pb-rnb-sub .pb-form-option .pb-clear {margin:0 -2px;}
.pb-rnb-sub .pb-form-option .pb-clear [class*="pb-col-"] {padding:0 2px;}
.pb-rnb-sub .pb-form-option .pb-box-noti {display:inline-block;float:left; margin-left:8px; position:relative; width:48px; height:48px; background-color:#f1f1ee; border-radius:3px; cursor:pointer;}
.pb-rnb-sub .pb-form-option .pb-box-noti:first-of-type {margin-left:0;}
.pb-rnb-sub .pb-form-option .pb-box-noti [class*="pb-img-noti-"] {display:inline-block; position:absolute; top:50%; left:50%; background:url(../../images/img_sns.png) no-repeat;}
.pb-rnb-sub .pb-form-option .pb-box-noti .pb-img-noti-email {width:21px; height:14px; margin:-7px 0 0 -10px;}
.pb-rnb-sub .pb-form-option .pb-box-noti .pb-img-noti-message {width:20px; height:17px; margin:-9px 0 0 -10px; background-position:left -15px;}
.pb-rnb-sub .pb-form-option .pb-box-noti .pb-img-noti-slack {width:24px; height:25px; margin:-13px 0 0 -12px; background-position:left -33px;}
.pb-rnb-sub .pb-form-option .pb-box-noti .pb-img-noti-twitter {width:23px; height:19px;margin:-10px 0 0 -12px; background-position:left -59px;}
.pb-rnb-sub .pb-form-option .pb-box-noti .pb-img-noti-facebook {width:11px; height:21px;margin:-10px 0 0 -6px;background-position:left -78px;}

.pb-rnb-menu .pb-btn-bottom {padding:26px 30px;}
.pb-rnb-menu .pb-btn-bottom .pb-component-btn {width:100%;}

.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 {display:flex; flex:auto; flex-direction:column; height:100%; overflow:auto;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 .pb-ui-setting {padding:0 20px 7px 20px;}

.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 .pb-component-search {margin:5px 0 0 0;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 .pb-data-set-num {float:left; padding:14px 0 0 0;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 .pb-data-set-num .pb-data-txt {float:left; padding-left:10px; color:#222; font-size:12px;}
.pb-wrap-box-rule .pb-box-rule .pb-ui-graph2 .pb-component-tab-btn {float:left; margin:7px 5px 0 15px}
.pb-wrap-box-rule .pb-box-rule .pb-wrap-grid {flex:auto; padding:0 20px 20px 20px; height:100%; overflow:auto;}
.pb-wrap-box-rule .pb-box-rule .pb-wrap-grid .pb-table-grid {white-space:nowrap;}
.pb-rnb-apply {padding:18px 15px; border-bottom:1px solid #cfcec7;}
.pb-rnb-apply .pb-label-apply {padding-bottom:9px;color:#737373; font-size:14px;}
.pb-rnb-apply .pb-box-data-analysis {display:inline-block; margin-right:5px;padding:2px 6px 3px 6px;color:#f77114; font-size:13px; border:1px solid #feb674; border-radius:4px; background-color:#fffdf5;}
.pb-rnb-apply .pb-icon-edit {display:inline-block; margin-left:5px; width:12px; height:13px; background:url(../../images/icon_box_rule.png) no-repeat;background-position:left -37px;}



/***********************************************************************
     Page : Rule
 *************************************************************************/
.pb-box-ruleedit {position:absolute; top:120px; right:270px; width:400px;height:500px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); border: solid 1px #e9e9e9; background-color: #fff; border-radius:3px; overflow:auto;z-index:6;}
.pb-box-ruleedit .pb-label-title {padding:15px 0 17px 0; color:#222; font-weight:600; font-size:16px;}
.pb-box-ruleedit .pb-txt-detail {padding:0 15px 14px 0;font-size:12px; color:#a3a3a3;}
.pb-box-ruleedit .pb-ui-buttons {position:absolute; top:17px; right:15px;}
.pb-box-ruleedit .pb-ruleedit-top .pb-component-btn {position: absolute;top: 10px;right: 35px;min-width: 102px;}
.pb-box-ruleedit .pb-ui-part {padding:15px;}
.pb-box-ruleedit .pb-ui-part:last-of-type {padding-bottom:15px;}
.pb-box-ruleedit .pb-label-part {padding:0 0 8px 0; color:#737373; font-size:14px; font-weight:600;}

.pb-box-ruleedit .pb-ruleedit-top {padding:0 15px;}
.pb-box-ruleedit .pb-block-part {padding:15px;margin-bottom:15px;border-top: 1px solid #DEDEDE;border-bottom: 1px solid #DEDEDE;background-color: #F8F8F8;}
.pb-box-ruleedit .pb-block-part .pb-component-btn{position: absolute;right: 10px;top: 146px;}

.pb-box-ruleedit .pb-box-table {height:112px;  margin-bottom:5px;border:1px solid #dedede; overflow:auto;}
.pb-box-ruleedit .pb-box-table .pb-table-grid {min-width:100%; white-space:nowrap;}
.pb-box-ruleedit table.pb-table-data {margin-bottom:-5px;margin-top:15px;}
.pb-box-ruleedit table.pb-table-data tr th {padding:5px 0;font-weight:normal;color:#4e4e4e;font-size:14px;text-align:left;}
.pb-box-ruleedit table.pb-table-data tr td {padding:5px 5px;color:#4e4e4e;font-size:14px;}
.pb-box-ruleedit .pb-ui-rule-list {position:relative;}
.pb-box-ruleedit .pb-ui-rule-list .pb-data-num {position:absolute; bottom:100%; right:0; margin-bottom:8px; color:#a3a3a3; font-size:12px;}
.pb-box-ruleedit .pb-ui-rule-list .pb-box-rule-list:first-of-type {margin-top:0;}
.pb-box-ruleedit .pb-ui-rule-list .pb-box-rule-list {padding:8px; margin-top:4px; border-radius: 3px; background-color: #f6f6f6; color:#4e4e4e; font-size:14px;}
.pb-box-ruleedit .pb-ui-rule-list .pb-box-rule-list .pb-txt-type {color:#f37135; font-size:14px; margin-right:4px; }
.pb-box-ruleedit .pb-data-day:last-of-type {margin-bottom:0;}
.pb-box-ruleedit .pb-data-day {margin-bottom:6px; color:#a3a3a3; font-size:13px;}
.pb-box-ruleedit .pb-data-day .pb-txt-day {color:#4e4e4e; font-size:13px;}
.pb-box-ruleedit.type-box {max-height:420px; height:auto; top:initial; left:30px; right:45px; bottom:-10px; width:auto;}


.pb-box-ruleedit.type-box .pb-box-table {float:right;width:75%; height:160px;}
.pb-box-ruleedit.type-box .pb-table-data {float:left;width:25%}
.pb-box-ruleedit-empty {display:flex; flex-direction: column; justify-content:center; align-items: center; height:100%;}
.pb-box-ruleedit-empty .pb-img-ruleedit {display:inline-block; width:206px; height:162px; background:url(../../images/img_dataflow.png) no-repeat;}
.pb-box-ruleedit-empty .pb-txt-title {padding:25px 0 0 0; font-size:30px; font-weight:600; color:#a3a3a3;}
.pb-box-ruleedit-empty .pb-txt-det {font-size:13px; color:#a3a3a3;}
.pb-box-ruleedit-empty .pb-component-btn {margin-top:21px;}

.pb-part-content .pb-form-create .pb-create-label {font-weight: normal;color: #4e4e4e;font-size: 14px;}
.pb-part-content .pb-form-create {margin-bottom:0;}
