<prep-pop-connection-info *ngIf="step == '' || step == 'complete-connection-create'" [(connectionInfo)]="connectionInfo"
                          (createClose)="createClose();" (stepChange)="stepChange($event)"></prep-pop-connection-info>

<!--(stepChange)="stepChange($event)"-->
<!--(step)]="step"-->

<prep-pop-connection-name *ngIf="step=='connection-name'" [(connectionInfo)]="connectionInfo"
                          (createClose)="createClose();"  (stepChange)="stepChange($event)" (createComplete)="createCompleteEvent();"></prep-pop-connection-name>
