<div class="pb-layout-popup" *ngIf="isShow">
    <!-- box popup -->
    <div class="pb-box-popup">
        <a href="javascript:" class="pb-btn-pop-close" (click)="isShow = false"></a>
        <!-- step -->
        <div class="pb-ui-step">
            <span class="pb-txt-step">1</span>
            <span class="pb-txt-step is-selected">2</span>
        </div>
        <!-- //step -->
        <!-- top -->
        <div class="pb-popup-top">
            <div class="pb-txt-title">CREATE DATA CONNECTION</div>

        </div>
        <!-- //top -->
        <!-- contents -->
        <div class="pb-popup-contents pb-pop-create">
            <!-- option -->
            <div class="pb-ui-data-option ">
                <!-- form -->
                <div class="pb-form-option pb-clear">
                    <label class="pb-label-title">Name</label>
                    <input type="text" class="pb-input-type" [(ngModel)]="connectionName" maxlength="50" placeholder="Please enter a name">
                    <span class="pb-ui-error"></span>
                </div>
                <div class="pb-form-option pb-clear">
                    <label class="pb-label-title">Description</label>
                    <input class="pb-input-type pb-input-long" [(ngModel)]="description" maxlength="150" type="text" placeholder="Please enter a description">
                    <span class="pb-ui-error"></span>
                </div>
                <!-- //form -->
            </div>
            <!-- //option -->
            <!-- data connect -->

            <!-- //data connect -->
        </div>
        <!-- //contents -->
        <!-- bottom -->
        <div class="pb-popup-bottom">
            <!--<a href="javascript:;" class="pb-component-btn-pop type-bg" (click)="close()">CANCEL</a>-->
            <!--<a href="javascript:;" class="pb-component-btn-pop type-line" (click)="next()">NEXT</a>-->




            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="prev()">PREV</a>
            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="close()">CANCEL</a>
            <!-- disabled 시 ddp-disabled 추가 -->
            <a href="javascript:" class="pb-component-btn-pop type-bg" (click)="complete()">DONE</a>

            <!--[ngClass]="{'ddp-disabled': isBtnDisabled() }"-->
        </div>
        <!-- //bottom -->
    </div>
    <!-- //box popup -->
</div>


