<div class="pb-layout-popup">
    <!-- box popup -->
    <div class="pb-box-popup">
        <a href="javascript:" class="pb-btn-pop-close" (click)="close()"></a>
        <!-- step -->
        <div class="pb-ui-step">
            <span class="pb-txt-step">1</span>
            <span class="pb-txt-step is-selected">2</span>
        </div>
        <!-- //step -->
        <!-- top -->
        <div class="pb-popup-top">
            <div class="pb-txt-title">CREATE DATA CONNECTION</div>

        </div>
        <!-- //top -->
        <!-- contents -->

        <div class="pb-popup-contents">
            <div class="pb-wrap-connect type-connect">

                <!-- box file detail -->
                <div class="pb-box-file-detail">
                    <table class="pb-table-det">
                        <colgroup>
                            <col width="125px">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>Type</th>
                            <td>
                                <span class="pb-data-file-name">
                                    <em class="pb-img-dataset type-mysql" *ngIf="connectionParam.implementor=='MYSQL'"></em>
                                    <em class="pb-img-dataset type-hive" *ngIf="connectionParam.implementor=='HIVE'"></em>
                                    <em class="pb-img-dataset type-tibero" *ngIf="connectionParam.implementor=='TIBERO'"></em>
                                    <em class="pb-img-dataset type-presto" *ngIf="connectionParam.implementor=='PRESTO'"></em>
                                    <em class="pb-img-dataset type-post" *ngIf="connectionParam.implementor=='POSTGRESQL'"></em>
                                    {{connectionParam.implementor}}
                                </span>
                            </td>
                        </tr>


                        <tr *ngIf="connectionParam.hasOwnProperty('hostname')">
                            <th>Hostname</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.hostname}}</span>
                            </td>
                        </tr>


                        <tr *ngIf="connectionParam.hasOwnProperty('port')">
                            <th>Port</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.port}}</span>
                            </td>
                        </tr>

                        <tr *ngIf="connectionParam.hasOwnProperty('sid')">
                            <th>Sid</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.sid}}</span>
                            </td>
                        </tr>


                        <tr *ngIf="connectionParam.hasOwnProperty('database')">
                            <th>Database</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.database}}</span>
                            </td>
                        </tr>

                        <tr *ngIf="connectionParam.hasOwnProperty('catalog')">
                            <th>Catalog</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.catalog}}</span>
                            </td>
                        </tr>


                        <tr *ngIf="connectionParam.hasOwnProperty('username')">
                            <th>username</th>
                            <td>
                                <span class="pb-data-file-name">{{connectionParam.username}}</span>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <!-- //box file detail -->



                <!-- create -->
                <div class="pb-ui-create">
                    <!-- form create -->
                    <div class="pb-form-create">
                        <div class="pb-create-label">Name</div>
                        <div class="pb-form-edit">
                            <input type="text" class="pb-component-input"  maxlength="50" placeholder="Please enter a name"
                                   [(ngModel)]="connectInfo.dcName">
                            <span class="pb-form-error" *ngIf="showNameError">{{'msg.storage.ui.required' | translate}}</span>
                        </div>
                    </div>
                    <!-- //form create -->
                    <!-- form create -->
                    <div class="pb-form-create">
                        <div class="pb-create-label">Description</div>
                        <div class="pb-form-edit">
                            <input type="text" class="pb-component-input" maxlength="150" placeholder="Please enter a description" name="dfDesc"
                                   [(ngModel)]="connectInfo.dcDesc">
                            <!--<span class="pb-form-error" *ngIf="showDescError">{{'msg.storage.ui.required' | translate}}</span>-->
                        </div>
                    </div>
                    <!-- //form create -->
                </div>
                <!-- //create -->

            </div>

        </div>
        <!-- //contents -->







        <!-- bottom -->
        <div class="pb-popup-bottom">
            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="prev()">PREV</a>
            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="close()">CANCEL</a>
            <!-- disabled 시 ddp-disabled 추가 -->
            <a href="javascript:" class="pb-component-btn-pop type-bg" (click)="complete()">DONE</a>
        </div>
        <!-- //bottom -->
    </div>
    <!-- //box popup -->
</div>


