<div class="pb-layout-popup">
    <!-- box popup -->
    <div class="pb-box-popup">
        <a href="javascript:" class="pb-btn-pop-close" (click)="close()"></a>
        <!-- step -->
        <div class="pb-ui-step">
            <span class="pb-txt-step">1</span>
            <span class="pb-txt-step is-selected">2</span>
        </div>
        <!-- //step -->
        <!-- top -->
        <div class="pb-popup-top">
            <div class="pb-txt-title">CREATE DATA CONNECTION</div>

        </div>
        <!-- //top -->
        <!-- contents -->

        <div class="pb-popup-contents">
            <div class="pb-wrap-connect type-connect">

                <!-- create -->
                <div class="pb-ui-create">
                    <!-- form create -->
                    <div class="pb-form-create">
                        <div class="pb-create-label">Name</div>
                        <div class="pb-form-edit">
                            <input type="text" class="pb-component-input"  maxlength="50" placeholder="Please enter a name"
                                   [(ngModel)]="connectInfo.dcName">
                            <span class="pb-form-error" *ngIf="showNameError">{{'msg.storage.ui.required' | translate}}</span>
                        </div>
                    </div>
                    <!-- //form create -->
                    <!-- form create -->
                    <div class="pb-form-create">
                        <div class="pb-create-label">Description</div>
                        <div class="pb-form-edit">
                            <input type="text" class="pb-component-input" maxlength="150" placeholder="Please enter a description" name="dfDesc"
                                   [(ngModel)]="connectInfo.dcDesc">
                            <!--<span class="pb-form-error" *ngIf="showDescError">{{'msg.storage.ui.required' | translate}}</span>-->
                        </div>
                    </div>
                    <!-- //form create -->
                </div>
                <!-- //create -->

            </div>





        <!--<div class="pb-popup-contents pb-pop-create">-->
            <!--&lt;!&ndash; option &ndash;&gt;-->
            <!--<div class="pb-ui-data-option ">-->
                <!--&lt;!&ndash; form &ndash;&gt;-->
                <!--<div class="pb-form-option pb-clear">-->
                    <!--<label class="pb-label-title">Name</label>-->
                    <!--<input type="text" class="pb-input-type" [(ngModel)]="connectionName" maxlength="50" placeholder="Please enter a name">-->
                    <!--<span class="pb-ui-error"></span>-->
                <!--</div>-->
                <!--<div class="pb-form-option pb-clear">-->
                    <!--<label class="pb-label-title">Description</label>-->
                    <!--<input class="pb-input-type pb-input-long" [(ngModel)]="description" maxlength="150" type="text" placeholder="Please enter a description">-->
                    <!--<span class="pb-ui-error"></span>-->
                <!--</div>-->
                <!--&lt;!&ndash; //form &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; //option &ndash;&gt;-->
            <!--&lt;!&ndash; data connect &ndash;&gt;-->

            <!--&lt;!&ndash; //data connect &ndash;&gt;-->
        </div>
        <!-- //contents -->







        <!-- bottom -->
        <div class="pb-popup-bottom">
            <!--<a href="javascript:;" class="pb-component-btn-pop type-bg" (click)="close()">CANCEL</a>-->
            <!--<a href="javascript:;" class="pb-component-btn-pop type-line" (click)="next()">NEXT</a>-->




            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="prev()">PREV</a>
            <a href="javascript:" class="pb-component-btn-pop type-line" (click)="close()">CANCEL</a>
            <!-- disabled 시 ddp-disabled 추가 -->
            <a href="javascript:" class="pb-component-btn-pop type-bg" (click)="complete()">DONE</a>

            <!--[ngClass]="{'ddp-disabled': isBtnDisabled() }"-->
        </div>
        <!-- //bottom -->
    </div>
    <!-- //box popup -->
</div>


