<div class="pb-layout-contents">
    <!-- navi -->
    <!--
        navi 클릭시 is-selected 추가
        navi 확대시 type-open 추가
    -->
    <div class="pb-layout-navi is-selected ">
        <a href="javascript:" class="pb-btn-navi"></a>
        <!-- lnb navi -->
        <div class="pb-lnb-navigation">
            <a href="javascript:" class="pb-btn-resize"></a>
            <div class="pb-top-title">
                <em class="pb-icon-navi"></em>
                NAVIGATION
            </div>
            <!-- search -->
            <div class="pb-top-search">
                <input type="text">
            </div>
            <!-- //search -->
            <!-- navi 확대 -->
            <div class="pb-contents-navi-open">
                <!-- navi buttons -->
                <div class="pb-ui-navi-buttons">
                    <a href="javascript:" class="pb-btn-menu type-folder">
                        Folder
                    </a>
                    <a href="javascript:" class="pb-btn-menu type-dashboard">
                        Dashboard
                    </a>
                    <a href="javascript:" class="pb-btn-menu type-report">
                        Report
                    </a>

                    <div class="pb-ui-part">
                        <a href="javascript:" class="pb-btn-menu type-link">
                            Link
                        </a>
                        <a href="javascript:" class="pb-btn-menu type-copy">
                            Copy
                        </a>
                        <a href="javascript:" class="pb-btn-menu type-delete">
                            Delete
                        </a>
                        <a href="javascript:" class="pb-btn-menu type-share">
                            Share
                        </a>
                    </div>

                </div>
                <!-- //navi buttons -->
                <!-- contents open file -->
                <div class="pb-contents-open-file">
                    <!-- list open file -->
                    <ul class="pb-list-open-file">
                        <li>
                            <div class="pb-img-folder">
                                <a href="javascript:" class="pb-btn-pin is-selected"></a>

                            </div>
                            <span class="pb-data-file-name">Manufacturing A</span>
                        </li>
                        <li>
                            <div class="pb-img-folder">
                                <a href="javascript:" class="pb-btn-pin"></a>

                            </div>
                            <span class="pb-data-file-name">Manufacturing A</span>
                        </li>
                        <li>
                            <div class="pb-box-file">
                                <div class="pb-ui-graph" style="background-color:#ccc">
                                    그래프영역
                                </div>

                                <a href="javascript:" class="pb-btn-pin"></a>

                            </div>
                            <span class="pb-data-file-name">Manufacturing A</span>
                        </li>
                        <li>
                            <div class="pb-box-file">
                                <div class="pb-ui-graph" style="background-color:#ccc">
                                    그래프영역
                                </div>

                                <a href="javascript:" class="pb-btn-pin is-selected"></a>

                            </div>
                            <span class="pb-data-file-name">Manufacturing A</span>
                        </li>
                    </ul>
                    <!-- //list open file -->
                </div>
                <!-- //contents open file -->
                <!-- bottom open file -->
                <div class="pb-bottom-open-file">
                    <div class="pb-data-total">Total 54 files</div>
                    <!-- right -->
                    <div class="pb-fright">
                        <!-- slider -->
                        <div class="pb-wrap-slider2">
                            <a href="javascript:" class="pb-btn-minus"></a>
                            <a href="javascript:" class="pb-btn-plus"></a>
                            <input type="text" id="rangeslider2">
                        </div>
                        <!-- //slider -->
                        <!-- type -->
                        <div class="pb-type-file">
                            <a href="javascript:" class="pb-btn-folder"></a>
                            <a href="javascript:" class="pb-btn-grid"></a>
                        </div>
                        <!-- //type -->
                    </div>
                    <!-- //right -->


                </div>
                <!-- //bottom open file -->
            </div>
            <!-- //navi 확대 -->
            <!-- navi tab -->
            <div class="pb-wrap-navi-tab">
                <!-- tab -->
                <ul class="pb-list-navi-tab pb-clear">
                    <li class="is-selected">
                        <a href="javascript:">MY FILE</a>
                    </li>
                    <li>
                        <a href="javascript:">CLIPBOARD</a>
                    </li>
                </ul>
                <!-- //tab -->
                <!-- contents -->
                <div class="pb-ui-navi-contents">
                    <ul class="pb-list-menu">
                        <li class="is-selected">
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu1"></em>Manufacturing A
                            </a>
                            <!-- sub -->
                            <ul class="pb-list-menu-sub">
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                            </ul>
                            <!-- //sub -->
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu2"></em>Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu3"></em>
                                Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu4"></em>Manufacturing A
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //contents -->
                <!-- lnb navi bottom -->
                <div class="pb-lnb-navi-bottom">
                    <ul class="pb-list-navi-bottom">
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom1"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom2"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom3"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom4"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom5"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom6"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom7"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //lnb navi bottom -->
            </div>
            <!-- //navi tab -->
        </div>
        <!-- //lnb navi -->
    </div>
    <!-- //navi -->
    <!-- wrap contents -->
    <div class="pb-wrap-contents">
        <!-- top -->
        <div class="pb-contents-top">
            <!-- right -->
            <div class="pb-ui-buttons">
                <a href="javascript:" class="pb-component-btn type-line"><em class="pb-icon-add"></em>ADD CHART</a>
                <a href="javascript:" class="pb-component-btn type-line">MEMO</a>
                <a href="javascript:" class="pb-component-btn type-line">REPORT</a>
                <a href="javascript:" class="pb-component-btn type-line">SHARE</a>
                <a href="javascript:" class="pb-component-btn type-line">SETTING</a>
                <div class="pb-ui-part">
                    <a href="javascript:" class="pb-component-btn type-bg">SAVE</a>
                </div>
            </div>
            <!-- //right -->
            <!-- txt navi -->
            <div class="pb-txt-navi">
                <span class="pb-txt-name"><em class="pb-icon-dashboard"></em>Dashboard 01</span>
                <span class="pb-txt-super"><em class="pb-icon-super"></em>SuSuperper store_02</span>
            </div>
            <!-- //txt navi -->

        </div>
        <!-- //top -->

        <!-- contents navi -->
        <div class="pb-wrap-box-navigation">
            <!-- box navi -->
            <div class="pb-box-navigation">
                <div class="pb-box-title">
                    Sales Forecast by State
                </div>
                <div class="pb-ui-graph" style="background-color:#ccc;">
                    그래프 영역
                </div>
            </div>
            <!-- //box navi -->

        </div>

        <!-- //contents navi -->
    </div>
    <!-- //wrap contents -->


</div>