
<div class="pb-layout-contents">
    <!-- navi -->
    <div class="pb-layout-navi">
        <a href="javascript:" class="pb-btn-navi"></a>

        <div class="pb-lnb-navigation ">
            <a href="javascript:" class="pb-btn-resize"></a>
            <div class="pb-top-title">
                <em class="pb-icon-navi"></em>
                NAVIGATION
            </div>
            <!-- search -->
            <div class="pb-top-search">
                <input type="text">
            </div>
            <!-- //search -->
            <div class="pb-wrap-navi-tab">
                <!-- tab -->
                <ul class="pb-list-navi-tab pb-clear">
                    <li class="is-selected">
                        <a href="javascript:">MY FILE</a>
                    </li>
                    <li>
                        <a href="javascript:">CLIPBOARD</a>
                    </li>
                </ul>
                <!-- //tab -->
                <!-- contents -->
                <div class="pb-ui-navi-contents">
                    <ul class="pb-list-menu">
                        <li class="is-selected">
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu1"></em>Manufacturing A
                            </a>
                            <!-- sub -->
                            <ul class="pb-list-menu-sub">
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="is-selected">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        Energy Dashboard01 (1)
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                            </ul>
                            <!-- //sub -->
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu2"></em>Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu3"></em>
                                Manufacturing A
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu4"></em>Manufacturing A
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //contents -->
                <!-- lnb navi bottom -->
                <div class="pb-lnb-navi-bottom">
                    <ul class="pb-list-navi-bottom">
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom1"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom2"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom3"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom4"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom5"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom6"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom7"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //lnb navi bottom -->
            </div>
        </div>
    </div>
    <!-- //navi -->
    <!-- wrap contents -->
    <div class="pb-wrap-contents">
        <div class="pb-contents-top">
            <!-- button -->
            <div class="pb-ui-buttons">
                <!-- icon button -->
                <div class="pb-btn-icons">
                    <a href="javascript:" class="pb-icon-top-prev"></a>
                    <a href="javascript:" class="pb-icon-top-next"></a>
                </div>
                <!-- //icon button -->
                <a href="javascript:" class="pb-component-btn type-line">CANCEL</a>
                <a href="javascript:" class="pb-component-btn type-bg">SAVE</a>
            </div>
            <!-- //button -->
            <!-- txt navi -->
            <div class="pb-txt-navi">
                <em class="pb-icon-dashboard"></em>
                Data Flow 01 > Dataset 01
            </div>
            <!-- //txt navi -->
        </div>
        <div class="pb-wrap-box-rule">
            <div class="pb-box-rule type-rule">
                <!-- top -->
                <!--                     <div class="pb-box-top">
                                        <div class="pb-fleft"> -->
                <!--                             <em class="pb-icon-top-analysis1"></em> -->
                <!-- <span class="pb-box-data-analysis">Derive A Column</span>
                <span class="pb-box-data-analysis">Substring A Column and B Column</span>
                <span class="pb-box-data-analysis">Derive A Column</span>
            </div>
            <a href="javascript:" class="pb-icon-top-edit"></a>
        </div> -->
                <!-- //top -->
                <div class="pb-ui-graph" style="background-color:#ccc">
                    그래프 영역
                </div>


            </div>

        </div>
    </div>
    <!-- //wrap contents -->

    <!-- rnb -->
    <!--
        펼칠때 is-selected 추가
    -->
    <div class="pb-rnb-menu is-selected">
        <a href="javascript:" class="pb-btn-menu-close"></a>
        <ul class="pb-list-rnb">
            <li>
                <a href="javascript:">
                    <em class="pb-icon-analysis"></em>
                    <span class="pb-txt-rnb">Rule</span>
                </a>
                <!-- list -->
                <!-- <ul class="pb-list-rnb-sub ">
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-top-menu5"></em>
                        </a>
                    </li>
                    <li class="is-disabled">
                        <a href="javascript:">
                            <em class="pb-icon-top-menu6"></em>
                        </a>
                    </li>
                    <li class="is-disabled">
                        <a href="javascript:">
                            <em class="pb-icon-top-menu7"></em>
                        </a>
                    </li>
                    <li class="is-disabled">
                        <a href="javascript:">
                            <em class="pb-icon-top-menu8"></em>
                        </a>
                    </li>
                </ul> -->
                <!-- //list -->
                <!-- sub -->
                <div class="pb-rnb-sub ">
                    <!-- part -->
                    <div class="pb-part-sub">
                        <div class="pb-sub-title">Prediction Line Options</div>
                        <!-- form option -->
                        <div class="pb-form-option">
                            <label class="pb-label-form">Forcasting period</label>
                            <!-- clear -->
                            <div class="pb-clear">
                                <div class="pb-col-5">
                                    <!-- selectbox -->
                                    <!--
                                        클릭시 : is-selected 추가
                                        값 입력시 : is-value 추가

                                    -->
                                    <div class="pb-component-selectbox type-gray is-value">
                                        <span class="pb-txt-selectbox">2</span>
                                        <!-- popup -->
                                        <div class="pb-select-popup">
                                            <ul class="pb-list-selectbox">
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- //popup -->
                                    </div>
                                    <!-- //selectbox -->
                                </div>
                                <div class="pb-col-7">
                                    <!-- selectbox -->
                                    <!--
                                        클릭시 : is-selected 추가
                                        값 입력시 : is-value 추가

                                    -->
                                    <div class="pb-component-selectbox type-gray is-value">
                                        <span class="pb-txt-selectbox">Month</span>
                                        <!-- popup -->
                                        <div class="pb-select-popup">
                                            <ul class="pb-list-selectbox">
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- //popup -->
                                    </div>
                                    <!-- //selectbox -->
                                </div>
                            </div>
                            <!-- //clear -->
                        </div>
                        <!-- //form option -->
                    </div>
                    <!-- //part -->
                    <!-- part -->
                    <div class="pb-part-sub">
                        <!-- form toggle -->
                        <div class="pb-form-option type-toggle">

                            <label class="pb-label-form ">Forcasting period</label>
                            <!-- toggle -->
                            <label class="pb-component-toggle">
                                <input type="checkbox">
                                <span></span>
                                <i></i>
                            </label>
                            <!-- //toggle -->
                        </div>
                        <!-- //form toggle -->
                        <script>
                            $(function(){
                                $("#rangeslider").ionRangeSlider({
                                    min: 0,
                                    max: 100,
                                    from: 55
                                });
                            })
                        </script>
                        <!-- form slider -->
                        <div class="pb-form-option type-slider">

                            <label class="pb-label-form ">Confidence interval</label>
                            <div class="pb-wrap-slider">
                                <input type="text" id="rangeslider">
                            </div>
                        </div>
                        <!-- //form slider -->
                    </div>
                    <!-- //part -->
                    <!-- part -->
                    <div class="pb-part-sub">
                        <!-- form toggle -->
                        <div class="pb-form-option type-toggle">

                            <label class="pb-label-form ">Notification</label>
                            <!-- toggle -->
                            <label class="pb-component-toggle">
                                <input type="checkbox" checked="checked">
                                <span></span>
                                <i></i>
                            </label>
                            <!-- //toggle -->
                        </div>
                        <!-- //form toggle -->
                        <!-- form default -->
                        <div class="pb-form-option type-default">

                            <label class="pb-label-form ">Time of notification</label>
                            <div class="pb-clear">
                                <div class="pb-col-3">
                                    <!-- selectbox -->
                                    <!--
                                        클릭시 : is-selected 추가
                                        값 입력시 : is-value 추가

                                    -->
                                    <div class="pb-component-selectbox type-gray is-value">
                                        <span class="pb-txt-selectbox">30</span>
                                        <!-- popup -->
                                        <div class="pb-select-popup">
                                            <ul class="pb-list-selectbox">
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">1</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- //popup -->
                                    </div>
                                    <!-- //selectbox -->
                                </div>


                            </div>
                            <!-- //form default -->

                        </div>
                        <!-- //part -->
                    </div>
                    <!-- //sub -->
            </li>
            <li>
                <a href="javascript:">
                    <em class="pb-icon-algorithm"></em>
                    <span class="pb-txt-rnb">Recommendation</span>
                </a>
            </li>
        </ul>
        <!-- bottom -->
        <div class="pb-btn-bottom">
            <a href="javascript:" class="pb-component-btn type-dark">DATA MANAGER</a>
        </div>
        <!-- //bottom -->
    </div>
    <!-- //rnb -->
</div>
