
<div class="pb-layout-contents">
    <!-- navi -->
    <!--
        navi 클릭시 is-selected 추가
        navi 확대시 type-open 추가
    -->
    <div class="pb-layout-navi" [class.is-selected]="isNaivationOpen === true">
        <div class="pb-wrap-navi">
            <a href="javascript:" class="pb-btn-navi" (click)="openNavigation()"></a>
            <div class="pb-ui-navi-menu">
                <ul class="pb-list-navi-menu">
                    <li>
                        <a href="javascript:" class="pb-icon-home is-selected" [class.is-selected]="viewMode === 'FLOW'" (click)="changeViewMode('FLOW')"></a>
                    </li>
                    <li>
                        <a href="javascript:" class="pb-icon-dataset" [class.is-selected]="viewMode === 'DATASET'" (click)="changeViewMode('DATASET')"></a>
                    </li>
                    <li>
                        <a href="javascript:" class="pb-icon-dataresult" [class.is-selected]="viewMode === 'DATARESULT'" (click)="changeViewMode('DATARESULT')"></a>
                    </li>
                </ul>
            </div>
            <a href="javascript:" class="pb-link-schedule" style="display:none;" [class.is-selected]="viewMode === 'SCHEDULE'" (click)="changeViewMode('SCHEDULE')"></a>
        </div>
        <!-- lnb navi -->
        <div class="pb-lnb-navigation">
            <a href="javascript:" class="pb-btn-resize"></a>
            <div class="pb-top-title">
                <em class="pb-icon-navi" (click)="openNavigation()"></em>
                NAVIGATION
            </div>
            <!-- search -->
            <div class="pb-top-search">
                <input type="text">
            </div>
            <!-- //search -->
            <!-- navi tab -->
            <div class="pb-wrap-navi-tab">
                <!-- tab -->
                <ul class="pb-list-navi-tab pb-clear">
                    <li class="is-selected">
                        <a href="javascript:">CONTENT</a>
                    </li>
                    <li>
                        <a href="javascript:">CLIPBOARD</a>
                    </li>
                </ul>
                <!-- //tab -->
                <!-- contents -->
                <div class="pb-ui-navi-contents">
                    <ul class="pb-list-menu">
                        <li class="is-selected">
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu1"></em>DATAFLOW
                            </a>
                            <!-- sub -->
                            <ul class="pb-list-menu-sub">
                                <li class="is-selected">
                                    <a href="javascript:">
                                        DATAFLOW 01
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="is-selected">
                                    <a href="javascript:">
                                        DATAFLOW 02
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        DATAFLOW 03
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                                <li class="">
                                    <a href="javascript:">
                                        DATAFLOW 04
                                    </a>
                                    <div class="pb-box-image">
                                        <img src="">
                                    </div>
                                </li>
                            </ul>
                            <!-- //sub -->
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu2"></em>DATASET
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu3"></em>DATA RESULT
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-menu4"></em>DATA CONNECTION
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //contents -->
                <!-- lnb navi bottom -->
                <div class="pb-lnb-navi-bottom">
                    <ul class="pb-list-navi-bottom">
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom1"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom2"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom3"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom4"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom5"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom6"></em>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:">
                                <em class="pb-icon-lnb-bottom7"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //lnb navi bottom -->
            </div>
            <!-- //navi tab -->
        </div>
        <!-- //lnb navi -->
    </div>
    <!-- //navi -->
    <!-- wrap contents -->
    <div class="pb-wrap-contents">
        <!-- top -->
        <div class="pb-contents-top">

            <div class="pb-ui-buttons">
                <a href="javascript:" class="pb-component-btn type-line">DELETE</a>
                <div class="pb-ui-part">
                    <a href="javascript:" class="pb-component-btn type-bg" (click)="addDatasets()"><em class="pb-icon-add-r"></em>CREATE DATASET</a>
                </div>
            </div>
            <div class="pb-txt-navi">
                <a href="javascript:" class="pb-btn-back" (click)="onClickPrev()"></a>
                {{dataflow.dfName}}
                <span class="pb-txt-data"><em class="pb-icon-dataset"></em>{{'msg.dp.ui.imported.data' | translate}}<strong>{{dataflow.importedDsCount}}</strong></span>
                <span class="pb-txt-data"><em class="pb-icon-result"></em>{{'msg.dp.ui.wrangled.data' | translate}}<strong>{{dataflow.wrangledDsCount}}</strong></span>

            </div>
            <!-- //txt navi -->

        </div>
        <!-- //top -->

        <!-- contents -->
        <div class="pb-wrap-box-contents"  [ngStyle]="{'display': (viewMode == 'FLOW')?'block':'none'}">
            <!-- box navi -->
            <div class="pb-box-contents">

                <div class="pb-box-title" *ngIf="dataSetList!==null && dataSetList.length > 0">
                    DATA FLOW DIAGRAM
                </div>

                <div class="pb-ui-graph" [hidden]="dataSetList==null || dataSetList.length == 0">
                    <div id="chartCanvas" style="width:100%;height:100%;"></div>
                </div>



                <div class="pb-box-dataflow-empty" *ngIf="dataSetList==null || dataSetList.length == 0">

                    <em class="pb-img-dataflow"></em>
                    <div class="pb-txt-title">Get started with your dataflow</div>
                    <div class="pb-txt-det">
                        Add dataset to your flow from your local file, database or staging database like HIVE
                    </div>
                    <a href="javascript:;" class="pb-component-btn type-bg tpye-normal" (click)="addDatasets()"><em class="pb-icon-add-r"></em>Add dataset to this flow</a>

                </div>




                <!-- 그리드 아이콘 클릭시 데이터셋 상세 팝업 -->
                <div *ngIf="selectedDataSet.dsId"
                     class="sys-dataflow-right-panel ddp-box-flowdetail" >
                    <app-dataset-info-popup
                            [selectedDataSet]="selectedDataSet"
                            [dataflow] = "dataflow"
                            (initEventAfterDelete)="initEventAfterDelete()"
                            (closePopup)="changeChartClickStatus($event)"
                            (datasetEventHandler)="datasetEventHandler($event)"
                            (cloneEventHandler)="datasetClone($event)"
                            (changeDataflow)="selectDataflow($event)"
                            (createSnapshotEvent)="openSnapshotPopup()"
                            (updateDataflow)="getDataflow(); changeChartClickStatus(this.selectedDataSet, true); datasetInfoPopupComponent.setDataset(this.selectedDataSet)"
                            (datasetSelectPopupOpen)="openAddDatasetPopup($event)">
                    </app-dataset-info-popup>
                </div>
                <!-- //그리드 아이콘 클릭시 데이터셋 상세 팝업 -->
            </div>
            <!-- //box navi -->
        </div>
        <div class="pb-wrap-box-contents"  [ngStyle]="{'display': (viewMode == 'DATASET')?'block':'none'}">
            <div class="pb-box-contents">
                <div class="pb-box-title">
                    DATA SETS
                </div>
                <div class="pb-ui-graph">
                    <div class="pb-wrap-connect type-connect">
                        <!-- data grid -->
                        <div class="pb-wrap-data-grid">
                            <!-- grid top -->
                            <div class="pb-ui-grid-top">
                                <div class="pb-component-search">
                                    <input type="text" placeholder="Search for values">
                                </div>
                            </div>
                            <!-- //grid top -->
                            <div class="pb-wrap-table">
                                <table class="pb-component-table">
                                    <colgroup>
                                        <col width="*">
                                        <col width="15%">
                                        <col width="20%">
                                        <col width="8%">
                                        <col width="7%">
                                        <col width="10%">
                                        <col width="15%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>No
                                        </th>
                                        <th>Name
                                        </th>
                                        <th>Description
                                        </th>
                                        <th>Type
                                        </th>
                                        <th>Source
                                        </th>
                                        <th>Source Resource
                                        </th>
                                        <th>Parent Dataset
                                        </th>
                                        <th>Created
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let dataset of dataSetList; let i = index">
                                        <td>
                                            {{ i + 0}}
                                        </td>
                                        <td>
                                            {{dataset.dsName}}
                                        </td>
                                        <td>
                                            {{dataset.dsDesc}}
                                        </td>
                                        <td>
                                            {{dataset.dsType}}
                                        </td>
                                        <td>
                                            {{dataset.dsType === DsType.IMPORTED ? prepCommonUtil.getImportType(dataset.importType) : ''}}
                                        </td>
                                        <td>
                                            {{dataset.dsType === DsType.IMPORTED ? getSourceType(dataset) : ''}}
                                        </td>
                                        <td>
                                            {{dataset.rootDataset ? dataset.rootDataset.dsName : ''}}
                                        </td>
                                        <td>
                                            {{dataset.createdTime | mdate:'YYYY-MM-DD HH:mm'}} <span>by</span> {{dataset.createdBy}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //data grid -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-wrap-box-contents"  [ngStyle]="{'display': (viewMode == 'DATARESULT')?'block':'none'}">
            <div class="pb-box-contents">
                <div class="pb-box-title">
                    DATA RESULTS
                </div>
                <div class="pb-ui-graph">
                    <div class="pb-wrap-connect type-connect">
                        <!-- data grid -->
                        <div class="pb-wrap-data-grid">
                            <!-- grid top -->
                            <div class="pb-ui-grid-top">
                                <div class="pb-component-search">
                                    <input type="text" placeholder="Search for values">
                                </div>
                            </div>
                            <!-- //grid top -->
                            <div class="pb-wrap-table">
                                <table class="pb-component-table">
                                    <colgroup>
                                        <col width="*">
                                        <col width="15%">
                                        <col width="10%">
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>No
                                        </th>
                                        <th>Name
                                        </th>
                                        <th>Target
                                        </th>
                                        <th>Target Resource
                                        </th>
                                        <th>Target Dataset
                                        </th>
                                        <th>Status
                                        </th>
                                        <th>Elapsed time
                                        </th>
                                        <th>Created
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let dataSnapshot of datasnapshots; let i = index">
                                        <td>
                                            {{ i + 0}}
                                        </td>
                                        <td>
                                            {{dataSnapshot.ssName}}
                                        </td>
                                        <td>
                                            {{dataSnapshot.origDsImportType ? prepCommonUtil.getImportType(dataSnapshot.origDsImportType) : ''}}
                                        </td>
                                        <td>
                                            {{getTargetResource(dataSnapshot)}}
                                        </td>
                                        <td>
                                            {{dataSnapshot.dsName}}
                                        </td>
                                        <td>
                                            {{dataSnapshot.status}}
                                        </td>
                                        <td>
                                            <span *ngIf="prepCommonUtil.getElapsedDay(dataSnapshot) > 0">{{prepCommonUtil.getElapsedDay(dataSnapshot) + '일'}}</span>
                                                {{prepCommonUtil.getElapsedTime(dataSnapshot)}}
                                        </td>
                                        <td>
                                            {{dataSnapshot.createdTime | mdate:'YYYY-MM-DD HH:mm'}} <span>by</span> {{dataSnapshot.createdBy}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //data grid -->
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-wrap-box-contents"  [ngStyle]="{'display': (viewMode == 'SCHEDULE')?'block':'none'}">
            <div class="pb-box-contents">
                <div class="pb-box-title">
                    SCHEDULES
                </div>
                <div class="pb-ui-graph">
                </div>
            </div>
        </div>
        <!-- //contents navi -->
    </div>
    <!-- //wrap contents -->
</div>
<!-- 생성 -->
<!--<prep-pop-create  *ngIf="isSelectDatasetPopupOpen"-->
<!--                 (closeEvent)="closeAddDatasets()"-->
<!--                 (createComplete)="closeAddDatasets()"></prep-pop-create>-->


<prep-pop-dataset-list *ngIf="isSelectDatasetPopupOpen"
                       [targetType]="'SELECT'"
                       [originalDatasetList]="dataSetList"
                       (addEvent)="datasetPopupAddEvent($event)"
                       (closeEvent)="closeAddDatasets()"></prep-pop-dataset-list>
