<div class="pb-layout-popup" *ngIf="isShow">
    <!-- box popup -->
    <div class="pb-box-popup">
        <a href="javascript:" class="pb-btn-pop-close" (click)="isShow = false"></a>
        <!-- top -->
        <div class="pb-popup-top">
            <div class="pb-txt-title">DB CONNECTION</div>

        </div>
        <!-- //top -->
        <!-- contents -->
        <div class="pb-popup-contents pb-pop-create">
            <!-- option -->
            <div class="pb-ui-data-option ">
                <!-- form -->
                <div class="pb-form-option pb-clear">
                    <label class="pb-label-title">Data source</label>
                    <div class="pb-component-select-button">
                        <!-- selectbox -->
                        <!--
                            클릭시 : is-selected 추가
                            값 입력시 : is-value 추가

                        -->
                        <div class="pb-component-selectbox type-icons is-value ">
                            <span class="pb-txt-selectbox">
                                <em class="pb-icon-datasource"></em>Select data
                            </span>
                            <!-- popup -->
                            <div class="pb-select-popup">
                                <ul class="pb-list-selectbox">
                                    <li>
                                        <a href="javascript:">
                                            <em class="pb-icon-datasource"></em>1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><em class="pb-icon-datasource"></em>1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><em class="pb-icon-datasource"></em>1</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- //popup -->
                        </div>
                        <!-- //selectbox -->
                        <a href="javascript:" class="pb-btn-select">SELECT</a>
                    </div>
                </div>
                <!-- //form -->
            </div>
            <!-- //option -->
            <!-- data connect -->
            <div class="pb-wrap-data-connect">
                <em class="pb-img-create"></em>
                <div class="pb-txt-title">Require a data connection</div>
                <div class="pb-txt-det">
                    You need a data source connection for creating dashboard.<br>
                    Please connect data sources first.
                </div>
            </div>
            <!-- //data connect -->
        </div>
        <!-- //contents -->
        <!-- bottom -->
        <div class="pb-popup-bottom">
            <a href="javascript:" class="pb-component-btn type-bg">SKIP</a>
            <a href="javascript:" class="pb-component-btn type-line">CANCEL</a>
        </div>
        <!-- //bottom -->
    </div>
    <!-- //box popup -->
</div>
