<!-- sub -->
<div class="pb-rnb-sub type-recommendation">

    <!-- box -->
    <div class="pb-box-recommendation">
        <div class="pb-txt-title">Replace</div>
        <!-- list -->
        <ul class="pb-list-recommendation">
            <li>
                <span class="pb-txt-type">‘\%’</span> with ‘ ‘ in discount
                <!-- button -->
                <div class="pb-ui-hover-buttons">
                    <a href="javascript:" class="pb-component-btn-s">
                        Edit
                    </a>
                    <a href="javascript:" class="pb-component-btn-s type-bg">
                        Add
                    </a>
                </div>
                <!-- //button -->
            </li>
            <li>
                <span class="pb-txt-type">‘\%’</span> with ‘ ‘ in discount
                <!-- button -->
                <div class="pb-ui-hover-buttons">
                    <a href="javascript:" class="pb-component-btn-s">
                        Edit
                    </a>
                    <a href="javascript:" class="pb-component-btn-s type-bg">
                        Add
                    </a>
                </div>
                <!-- //button -->
            </li>
        </ul>
        <!-- //list -->


    </div>
    <!-- //box -->
</div>
<!-- //sub -->