





<div class="pb-layout-navi" [class.is-selected]="isNaivationOpen === true">



    <div class="pb-wrap-navi">
        <a href="javascript:" class="pb-btn-navi" (click)="openNavigation()"></a>
        <div class="pb-ui-navi-menu" *ngIf="workflowType">
            <ul class="pb-list-navi-menu">
                <li>
                    <a href="javascript:" class="pb-icon-home is-selected" [class.is-selected]="viewMode === 'FLOW'" (click)="changeViewMode('FLOW')"></a>
                </li>
                <li>
                    <a href="javascript:" class="pb-icon-dataset" [class.is-selected]="viewMode === 'DATASET'" (click)="changeViewMode('DATASET')"></a>
                </li>
                <li>
                    <a href="javascript:" class="pb-icon-dataresult" [class.is-selected]="viewMode === 'DATARESULT'" (click)="changeViewMode('DATARESULT')"></a>
                </li>
            </ul>
        </div>
        <a href="javascript:" class="pb-link-schedule" style="display:none;" [class.is-selected]="viewMode === 'SCHEDULE'" (click)="changeViewMode('SCHEDULE')"></a>
    </div>





    <!-- lnb navi -->
    <div class="pb-lnb-navigation">
<!--        <a href="javascript:" class="pb-btn-resize"></a>-->
        <div class="pb-top-title">
            <em class="pb-icon-navi" (click)="openNavigation()"></em>
            NAVIGATION
        </div>
        <!-- search -->
        <div class="pb-top-search">
            <input type="text" placeholder="Search by title or keyword" [(ngModel)]="searchText" (keydown)="searchDataflows($event);">
        </div>
        <!-- //search -->
        <!-- navi tab -->
        <div class="pb-wrap-navi-tab">
<!--            &lt;!&ndash; tab &ndash;&gt;-->
<!--            <ul class="pb-list-navi-tab pb-clear">-->
<!--                <li class="is-selected">-->
<!--                    <a href="javascript:">CONTENT</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="javascript:">CLIPBOARD</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            &lt;!&ndash; //tab &ndash;&gt;-->
            <!-- contents -->



<!--            top: 194px &ndash;&gt; top: 144px-->
            <div class="pb-ui-navi-contents" style="top: 144px;">
                <ul class="pb-list-menu">


                    <li [ngClass]="{'is-selected' : zoomViewMode === 'FLOW' }">
                        <a href="javascript:;" (click)="zoomViewMode = 'FLOW'">
                            <em class="pb-icon-lnb-menu1" *ngIf="zoomViewMode=='FLOW'"></em>
                            <em class="pb-icon-lnb-menu2" *ngIf="zoomViewMode!='FLOW'"></em>
                            DATAFLOW
                        </a>


                        <!-- sub -->
                        <ul class="pb-list-menu-sub" *ngIf="dataflows != null && dataflows.length > 0">

                            <li class="is-selected" *ngFor="let dataflow of dataflows">
                                <a href="javascript:;" title="{{dataflow.dfName}}" (click)="dataflowClick(dataflow.dfId)" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                   {{dataflow.dfName}}
                                </a>
                            </li>

                        </ul>
                        <!-- //sub -->
                    </li>



                    <li [ngClass]="{'is-selected' : zoomViewMode === 'DATASET' }">
                        <a href="javascript:;" (click)="zoomViewMode = 'DATASET'">
                            <em class="pb-icon-lnb-menu1" *ngIf="zoomViewMode=='DATASET'"></em>
                            <em class="pb-icon-lnb-menu2" *ngIf="zoomViewMode!='DATASET'"></em>
                            DATASET
                        </a>

                        <!-- sub -->
                        <ul class="pb-list-menu-sub" *ngIf="datasets != null && datasets.length > 0">

                            <li class="is-selected" *ngFor="let dataset of datasets">
                                <a href="javascript:;" title="{{dataset.dsName}}" (click)="datasetClick(dataset.dsId)" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                    {{dataset.dsName}}
                                </a>
                            </li>

                        </ul>
                        <!-- //sub -->
                    </li>




                    <li [ngClass]="{'is-selected' : zoomViewMode === 'DATARESULT' }">
                        <a href="javascript:;" (click)="zoomViewMode = 'DATARESULT'">
                            <em class="pb-icon-lnb-menu1" *ngIf="zoomViewMode=='DATARESULT'"></em>
                            <em class="pb-icon-lnb-menu2" *ngIf="zoomViewMode!='DATARESULT'"></em>
                            DATA RESULT
                        </a>

                        <!-- sub -->
                        <ul class="pb-list-menu-sub" *ngIf="datasnapshots != null && datasnapshots.length > 0">

                            <li class="is-selected" *ngFor="let datasnapshot of datasnapshots">
                                <a href="javascript:;" title="{{datasnapshot.ssName}}" (click)="datasnapshotsClick(datasnapshot.ssId)" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                                    {{datasnapshot.ssName}}
                                </a>
                            </li>

                        </ul>
                        <!-- //sub -->


                    </li>



<!--                    <li>-->
<!--                        <a href="javascript:">-->
<!--                            <em class="pb-icon-lnb-menu4"></em>DATA CONNECTION-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
            <!-- //contents -->
            <!-- lnb navi bottom -->
            <div class="pb-lnb-navi-bottom">
                <ul class="pb-list-navi-bottom">
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom1"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom2"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom3"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom4"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom5"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom6"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom7"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //lnb navi bottom -->
        </div>
        <!-- //navi tab -->
    </div>
    <!-- //lnb navi -->
</div>
<!-- //navi -->
<!-- wrap contents -->