





<div class="pb-layout-navi" [class.is-selected]="isNaivationOpen === true">



    <div class="pb-wrap-navi">
        <a href="javascript:" class="pb-btn-navi" (click)="openNavigation()"></a>
        <div class="pb-ui-navi-menu" *ngIf="workflowType">
            <ul class="pb-list-navi-menu">
                <li>
                    <a href="javascript:" class="pb-icon-home is-selected" [class.is-selected]="viewMode === 'FLOW'" (click)="changeViewMode('FLOW')"></a>
                </li>
                <li>
                    <a href="javascript:" class="pb-icon-dataset" [class.is-selected]="viewMode === 'DATASET'" (click)="changeViewMode('DATASET')"></a>
                </li>
                <li>
                    <a href="javascript:" class="pb-icon-dataresult" [class.is-selected]="viewMode === 'DATARESULT'" (click)="changeViewMode('DATARESULT')"></a>
                </li>
            </ul>
        </div>
        <a href="javascript:" class="pb-link-schedule" style="display:none;" [class.is-selected]="viewMode === 'SCHEDULE'" (click)="changeViewMode('SCHEDULE')"></a>
    </div>





    <!-- lnb navi -->
    <div class="pb-lnb-navigation">
        <a href="javascript:" class="pb-btn-resize"></a>
        <div class="pb-top-title">
            <em class="pb-icon-navi" (click)="openNavigation()"></em>
            NAVIGATION
        </div>
        <!-- search -->
        <div class="pb-top-search">
            <input type="text">
        </div>
        <!-- //search -->
        <!-- navi tab -->
        <div class="pb-wrap-navi-tab">
            <!-- tab -->
            <ul class="pb-list-navi-tab pb-clear">
                <li class="is-selected">
                    <a href="javascript:">CONTENT</a>
                </li>
                <li>
                    <a href="javascript:">CLIPBOARD</a>
                </li>
            </ul>
            <!-- //tab -->
            <!-- contents -->
            <div class="pb-ui-navi-contents">
                <ul class="pb-list-menu">
                    <li class="is-selected">
                        <a href="javascript:">
                            <em class="pb-icon-lnb-menu1"></em>DATAFLOW
                        </a>
                        <!-- sub -->
                        <ul class="pb-list-menu-sub">
                            <li class="is-selected">
                                <a href="javascript:">
                                    DATAFLOW 01
                                </a>
                                <div class="pb-box-image">
                                    <img src="">
                                </div>
                            </li>
                            <li class="is-selected">
                                <a href="javascript:">
                                    DATAFLOW 02
                                </a>
                                <div class="pb-box-image">
                                    <img src="">
                                </div>
                            </li>
                            <li class="">
                                <a href="javascript:">
                                    DATAFLOW 03
                                </a>
                                <div class="pb-box-image">
                                    <img src="">
                                </div>
                            </li>
                            <li class="">
                                <a href="javascript:">
                                    DATAFLOW 04
                                </a>
                                <div class="pb-box-image">
                                    <img src="">
                                </div>
                            </li>
                        </ul>
                        <!-- //sub -->
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-menu2"></em>DATASET
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-menu3"></em>DATA RESULT
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-menu4"></em>DATA CONNECTION
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //contents -->
            <!-- lnb navi bottom -->
            <div class="pb-lnb-navi-bottom">
                <ul class="pb-list-navi-bottom">
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom1"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom2"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom3"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom4"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom5"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom6"></em>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="pb-icon-lnb-bottom7"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //lnb navi bottom -->
        </div>
        <!-- //navi tab -->
    </div>
    <!-- //lnb navi -->
</div>
<!-- //navi -->
<!-- wrap contents -->