<!-- sub -->
<div class="pb-rnb-sub type-rule-list">

  <!-- box rule -->
  <!--
      focus 일때 is-focus 추가
  -->
  <ng-container *ngFor="let rule of ruleList; let idx = index; let last = last;">
    <div class="pb-box-rule-list" (click)="jumpRule(idx)">
      <div class="pb-txt-rule-list">
        <span class="pb-txt-type">{{rule.command}}</span> {{rule.simplifiedRule}}
      </div>
      <div class="pb-area-buttons type-hover" *ngIf="idx !== 0">
        <a href="javascript:" class="pb-btn-icons-type type-edit"
           (click)="$event.stopImmediatePropagation(); editRule(rule)"></a>
        <a href="javascript:" class="pb-btn-icons-type type-del"
           (click)="$event.stopImmediatePropagation(); deleteRule(idx)"></a>
      </div>
      <div class="pb-area-buttons type-focus">
        <a href="javascript:" class="pb-component-btn-s">
          Edit
        </a>
      </div>
    </div>
    <!-- //box rule -->
    <!--  is-focus를 없애면 일반 상태가 됨 -->
    <div class="pb-wrap-line-add" [ngClass]="{'is-focus': rule.isInsertStep, 'last': last}">
      <div class="pb-line-add" (click)="$event.stopImmediatePropagation();insertStep(rule)">
        <span class="pb-txt"> {{ 'msg.dp.btn.insert.rule' | translate }} </span>
      </div>
      <div class="pb-input-info"> Please enter a rule
        <a class="pb-link-cancel" href="javascript:"
           (click)="$event.stopImmediatePropagation();
           cancelInsertMode(rule, idx)"> {{'msg.comm.btn.cancl' | translate }} </a>
      </div>
    </div>
  </ng-container>


</div>
<!-- //sub -->