<!-- box popup -->
<div class="pb-box-popup">
  <a href="javascript:" class="pb-btn-pop-close" (click)="onClose.emit()"></a>
  <!-- step -->
  <div class="pb-ui-step">
    <span class="pb-txt-step" (click)="onPrev.emit()" style="cursor: pointer;">1</span>
    <span class="pb-txt-step is-selected">2</span>
  </div>
  <!-- //step -->
  <!-- top -->
  <div class="pb-popup-top pb-clear">
    <div class="pb-txt-title">CREATE DATAFLOW</div>

  </div>
  <!-- //top -->
  <!-- contents -->
  <div class="pb-popup-contents ">
    <div class="pb-wrap-connect type-connect">
      <!-- box file detail -->
      <div class="pb-box-file-detail" *ngIf="selectedDatasets != null && selectedDatasets.length > 0">
        <table class="pb-table-det">
          <colgroup>
            <col width="125px">
            <col width="*">
          </colgroup>
          <tbody>
          <tr *ngFor="let info of datasetInformationList">
            <th *ngIf="info.name !=null && info.value !=null">{{info.name}}</th>
            <td *ngIf="info.name !=null && info.value !=null && info.header == true">
                <span class="pb-data-file-name">
                    {{info.value}}
                </span>
            </td>
            <td *ngIf="info.name !=null && info.value !=null && info.header == false">
              {{info.value}}
            </td>
            <td colspan="2" *ngIf="info.name ==null && info.value ==null" style="height:15px;">&nbsp;</td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- //box file detail -->

      <!-- create -->
      <div class="pb-ui-create">
        <!-- form create -->
        <div class="pb-form-create">
          <div class="pb-create-label">Name</div>
          <div class="pb-form-edit">
            <input type="text" class="pb-component-input" maxlength="50" placeholder="Please enter a name" [(ngModel)]="name" (ngModelChange)="name = $event; isNameError = undefined;">
            <span class="pb-form-error" *ngIf="isNameError">Required</span>
          </div>
        </div>
        <!-- //form create -->
        <!-- form create -->
        <div class="pb-form-create">
          <div class="pb-create-label">Description</div>
          <div class="pb-form-edit">
            <input type="text" class="pb-component-input" maxlength="150" placeholder="Please enter a description" [(ngModel)]="description">
          </div>
        </div>
        <!-- //form create -->

      </div>
      <!-- //create -->

    </div>

  </div>
  <!-- //contents -->
  <div class="pb-popup-bottom ">
    <a href="javascript:" class="pb-component-btn-pop type-line" (click)="onPrev.emit()">PREV</a>
    <a href="javascript:" class="pb-component-btn-pop type-line" (click)="onClose.emit()">CANCEL</a>
    <a href="javascript:" class="pb-component-btn-pop type-bg" (click)="complete()">DONE</a>

  </div>
</div>
<!-- //box popup -->
