<!-- lnb -->
<div lnb [is2DepthEnable]="true"></div>
<!-- //lnb -->

<!-- wrap contents -->
<div class="pb-wrap-contents">
  <!-- top -->
  <div class="pb-contents-top">
    <!-- right -->
    <div class="pb-ui-buttons">
      <a href="javascript:" class="pb-component-btn type-bg"><em class="pb-icon-add-r"></em> ADD DATASET</a>
      <!-- more -->
      <div class="pb-ui-more" aria-expanded="true" (click)="$event.stopPropagation(); expanded = false" *ngIf="expanded == true">
        <a href="javascript:" class="pb-box-more"></a>
        <div class="pb-component-pop-box">
          <a href="javascript:;" (clickOutside)="$event.stopPropagation(); expanded = false"><em class="pb-icon-pop-del"></em>Delete this dataflow</a>
        </div>
      </div>
      <div class="pb-ui-more" aria-expanded="false" (click)="$event.stopPropagation(); expanded = true;" *ngIf="expanded == false">
        <a href="javascript:" class="pb-box-more"></a>
      </div>
      <!-- //more -->
    </div>
    <!-- //right -->

    <!-- txt navi -->
    <div class="pb-txt-navi">
      <a href="javascript:" class="pb-btn-back" [routerLink]="ROUTER_URLS.Managements.getFlowsUrl()"></a>
      <!-- edit -->
      <!-- 클릭시 is-selected 추가 -->
      <span class="pb-txt-edit" [ngClass]="{'is-selected': nameTextInputEnable === true}"
            (click)="!nameTextInputEnable ? onDataflowNameEdit($event):$event.stopPropagation();">
            {{dataflowName}}
           <div class="pb-form-input" style="display:;">
              <input #nameInput type="text" class="pb-input-edit" [(ngModel)]="dataflowName" (keypress)="enterDataflowName($event);" (clickOutside)="dataflowNameChange()">
              <a href="javascript:" class="pb-btn-box-icons type-bg type-check" (click)="$event.stopPropagation(); dataflowNameChange()"></a>
            </div>
          </span>
      <!-- //edit -->
      <span class="pb-txt-data" *ngIf="dataflow !== null && dataflow !== undefined"><em class="pb-icon-dataset"></em>Dataset <strong>{{dataflow.datasetCount}}</strong></span>
      <span class="pb-txt-data" *ngIf="dataflow !== null && dataflow !== undefined"><em class="pb-icon-recipe"></em>Recipe<strong>{{dataflow.recipeCount}}</strong></span>

    </div>
    <!-- //txt navi -->




  </div>
  <!-- //top -->

  <!-- contents -->
  <div class="pb-wrap-box-contents">

    <!-- box -->
    <div class="pb-box-contents" *ngIf="this.dataSetList === null || this.dataSetList.length === 0">
      <div class=""></div>
      <div class="pb-box-dataflow-empty">

        <em class="pb-img-dataflow"></em>
        <div class="pb-txt-title">Get started with your dataflow</div>
        <div class="pb-txt-det">
          Add dataset to your flow from your local file, database like Mysql
        </div>
        <a href="javascript:" class="pb-component-btn type-bg tpye-normal"><em class="pb-icon-add-r"></em>ADD DATASET</a>

      </div>

    </div>
    <!-- //box navi -->


    <!-- box -->
    <!--*ngIf="this.dataSetList !== null || this.dataSetList.length > 0"-->
    <div class="pb-box-contents">

      <div class="pb-box-dataflow" style="position: absolute; z-index: 1001;" [hidden]="detailBoxOpen === false">
        <div class="pb-dataflow-top" *ngIf="detailBoxDataset !== null">
          <div class="pb-label-title">{{detailBoxDatasetName}}</div>
          <div class="pb-ui-buttons">
            <a href="javascript:" class="pb-btn-icons-type type-del"></a>
            <a href="javascript:" class="pb-btn-icons-type type-close-b" (click)="detailBoxClose()"></a>
          </div>
          <!-- 설명 -->
          <div class="pb-txt-detail">
            {{detailBoxDataset.description}}
          </div>
          <!-- //설명 -->
        </div>

        <div class="pb-dataflow-top" *ngIf="detailBoxRecipe !== null">
          <div class="pb-label-title">{{detailBoxRecipeName}}</div>
          <div class="pb-ui-buttons">
            <a href="javascript:" class="pb-btn-icons-type type-del"></a>
            <a href="javascript:" class="pb-btn-icons-type type-close-b" (click)="detailBoxClose()"></a>
          </div>
          <!-- 설명 -->
          <div class="pb-txt-detail">
            {{detailBoxRecipe.description}}
          </div>
          <!-- //설명 -->
        </div>

        <div class="pb-dataflow-bottom" *ngIf="detailBoxDataset !== null">
          <div class="pb-col-5">
            <a href="javascript:;" class="pb-component-btn type-line"><em class="pb-icon-refresh"></em>Replace dataset</a>
          </div>
          <div class="pb-col-7">
            <a href="javascript:;" class="pb-component-btn type-dark" (click)="generateNewDataset(detailBoxDataset.dsId)"><em class="pb-icon-add-r"></em>Generate new dataset</a>
          </div>
        </div>


        <div class="pb-dataflow-bottom" *ngIf="detailBoxRecipe !== null">
          <div class="pb-col-12">
            <a href="javascript:;" class="pb-component-btn type-dark" (click)="editRules(detailBoxRecipe.recipeId)"><em class="pb-icon-add-r"></em>Edit rules</a>
          </div>
        </div>


        <!-- part -->
        <div class="pb-ui-part">
          <div class="pb-label-part">DATA PREVIEW</div>
          <!-- box table -->
          <div class="pb-box-table">
            <!-- grid area -->
            <div class="pb-ui-grid" [hidden]="gridEnable == false">
              <angular-slickgrid
                [gridId]="'dataflow-datasetOrrecipe-detail-container'"
                [columnDefinitions]="columnDefinitions"
                [gridOptions]="gridOptions"
                (onAngularGridCreated)="angularGridReady($event)">
              </angular-slickgrid>
            </div>
            <!-- //grid area -->
          </div>
          <!-- //box table -->

          <table class="pb-table-data" *ngIf="detailBoxDataset !== null">
            <colgroup>
              <col width="30%">
              <col width="*">
            </colgroup>
            <tbody>
            <tr>
              <th>Type</th>
              <td>DATASET</td>
            </tr>
            <tr>
              <th>Summary</th>
              <td *ngIf="detailBoxDataset.manualColumnCount !== null && detailBoxDataset.manualColumnCount !== undefined">{{detailBoxDataset.totalLines}} row(s) / {{detailBoxDataset.manualColumnCount}} column(s)</td>
              <td *ngIf="detailBoxDataset.manualColumnCount === null || detailBoxDataset.manualColumnCount === undefined">{{detailBoxDataset.totalLines}} row(s)</td>
            </tr>
            <tr>
              <th>Used in</th>
              <td>{{detailBoxDataset.dataflows.length}} dataflow</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>
          <table class="pb-table-data" *ngIf="detailBoxRecipe !== null">
            <colgroup>
              <col width="30%">
              <col width="*">
            </colgroup>
            <tbody>
            <tr>
              <th>Type</th>
              <td>RECIPE</td>
            </tr>
            <!--<tr>-->
            <!--<th>Used in</th>-->
            <!--<td>1 dataflow</td>-->
            <!--</tr>-->
            </tbody>
          </table>
        </div>
        <!-- //part -->


        <!-- part -->
        <div class="pb-ui-part" *ngIf="detailBoxRecipe !== null">
          <div class="pb-label-part">Rule list</div>
          <!-- rule list -->
          <div class="pb-ui-rule-list">
            <span class="pb-data-num">{{recipeRulesSize}}개의 룰 적용</span>
            <div class="pb-box-rule-list" *ngFor="let rule of ruleList; let idx = index"><span class="pb-txt-type">{{rule.alias}}</span>  {{rule.shortRuleString}}</div>
          </div>
          <!-- //rule list -->
        </div>
        <!-- //part -->


        <!-- part -->
        <div class="pb-ui-part" *ngIf="detailBoxDataset !== null">
          <div class="pb-data-day">
            Created on <span class="pb-txt-day">{{detailBoxDataset.createdTime | date: 'yyyy-MM-dd HH:mm'}}</span> by {{detailBoxDataset.createdBy.fullName}}
          </div>
          <div class="pb-data-day">
            Updated on <span class="pb-txt-day">{{detailBoxDataset.modifiedTime | date: 'yyyy-MM-dd HH:mm'}}</span> by {{detailBoxDataset.modifiedBy.fullName}}
          </div>
        </div>
        <!-- //part -->


        <!-- part -->
        <div class="pb-ui-part" *ngIf="detailBoxRecipe !== null">
          <div class="pb-data-day">
            Created on <span class="pb-txt-day">{{detailBoxRecipe.createdTime | date: 'yyyy-MM-dd HH:mm'}}</span> by {{detailBoxRecipe.createdBy.fullName}}
          </div>
          <div class="pb-data-day">
            Updated on <span class="pb-txt-day">{{detailBoxRecipe.modifiedTime | date: 'yyyy-MM-dd HH:mm'}}</span> by {{detailBoxRecipe.modifiedBy.fullName}}
          </div>
        </div>
        <!-- //part -->
      </div>

      <div class="pb-ui-graph" style="top:0; width:100%;">
        <div echarts id="chartCanvas" class="demo-chart" [options]="options" style="width:100%; height:100%;" (chartClick)="chartClickEvent($event)" (chartInit)="onChartInit($event)"></div>
      </div>

      <!--<div echarts [options]="options" class="demo-chart" style="width:100%; height:100%;" (chartClick)="chartClickEvent($event)"></div>-->
      <!--<div id="chartCanvas" style="width:100%;height:100%;"></div>-->
    </div>
    <!-- //box navi -->

  </div>

  <!-- //contents navi -->
</div>
<!-- //wrap contents -->
